  .image-container img {
        min-width: 100px;
}
 input {
    font-family: Arial;
  }
footer .grid-inner {
   background: #eee;
}
#ding-reservation-reservations-notready-form th:first-child + th + th + th + th {
    display: none;
  }
.openlayers-container{
    display: none;
  }
  
 a:visited {
   text-decoration: none;
 }
.ui-widget select, select option {
    font-family: Arial,sans-serif!important;
}