/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* ==========================================================================
   Base styling
   ========================================================================== */
/* line 9, ../sass/latto.subtheme.base.scss */
body {
  background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noise_lines.png") #eeeeee;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/latto.subtheme.base.scss */
header {
  background: transparent;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 20, ../sass/latto.subtheme.base.scss */
header .site-name {
  font-size: 150%;
  margin-top: 34px;
}
/* line 24, ../sass/latto.subtheme.base.scss */
header .logo {
  float: left;
  margin-right: 15px;
  margin-left: 7.5px;
}
/* line 29, ../sass/latto.subtheme.base.scss */
header .site-slogan {
  clear: left;
  color: black;
  margin-left: 7.5px;
}
/* line 34, ../sass/latto.subtheme.base.scss */
header img {
  width: 100px;
}
/* line 37, ../sass/latto.subtheme.base.scss */
header .header-inner {
  background: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 42, ../sass/latto.subtheme.base.scss */
header .grid-inner {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background: #69c9cf;
}

/* line 50, ../sass/latto.subtheme.base.scss */
.form-actions {
  background-color: transparent;
  border-top: 0px solid transparent;
  padding: 0px;
}

/* line 56, ../sass/latto.subtheme.base.scss */
.rs-carousel-title {
  padding-top: 0px;
}

/* line 59, ../sass/latto.subtheme.base.scss */
.rs-carousel-compact .rs-carousel-mask {
  max-width: 75%;
}

/* ==========================================================================
   Theme specific grid styling
   ========================================================================== */
/* line 67, ../sass/latto.subtheme.base.scss */
.grid-content .grid-inner {
  padding: 15px;
}

/* ==========================================================================
   Basic elements
   ========================================================================== */
/* Paragraphs
   ========================================================================== */
/* line 81, ../sass/latto.subtheme.base.scss */
p {
  margin-bottom: 5px;
}

/* Default horizontal ruler styles
   ========================================================================== */
/* line 88, ../sass/latto.subtheme.base.scss */
hr {
  background: #555555;
  color: #555555;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 90, ../sass/latto.subtheme.base.scss */
hr.primary {
  background: black;
  color: black;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 93, ../sass/latto.subtheme.base.scss */
hr.secondary {
  background: #69c9cf;
  color: #69c9cf;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 96, ../sass/latto.subtheme.base.scss */
hr.tertiary {
  background: #99d7db;
  color: #99d7db;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

/* ==========================================================================
   List styling
   ========================================================================== */
/* line 106, ../sass/latto.subtheme.base.scss */
ul {
  /* ==========================================================================
     Navigation
     ========================================================================== */
}
/* line 108, ../sass/latto.subtheme.base.scss */
ul li h3 {
  margin-bottom: 3.75px;
}
/* line 111, ../sass/latto.subtheme.base.scss */
ul li p {
  margin-bottom: 3.75px;
}
/* line 116, ../sass/latto.subtheme.base.scss */
ul.date-list .date-wrapper {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 7.5px;
  min-width: 60px;
  color: #555555;
  font-size: 11.7px;
  text-align: center;
  vertical-align: top;
}
/* line 129, ../sass/latto.subtheme.base.scss */
ul.date-list .date-wrapper .day {
  background-color: #99d7db;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 134, ../sass/latto.subtheme.base.scss */
ul.date-list .date-wrapper .date-wrapper-inner {
  background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noise_lines.png") #eeeeee;
  border: 1px solid #d9d9d9;
}
/* line 137, ../sass/latto.subtheme.base.scss */
ul.date-list .date-wrapper .date-wrapper-inner .date {
  font-size: 19.5px;
  margin-top: 3.75px;
}
/* line 143, ../sass/latto.subtheme.base.scss */
ul.date-list .content {
  display: inline-block;
}
/* line 147, ../sass/latto.subtheme.base.scss */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 152, ../sass/latto.subtheme.base.scss */
ul.list li {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 156, ../sass/latto.subtheme.base.scss */
ul.list li div.subheading {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 159, ../sass/latto.subtheme.base.scss */
ul.list li div.subheading span, ul.list li div.subheading a {
  margin-right: 5px;
}
/* line 161, ../sass/latto.subtheme.base.scss */
ul.list li div.subheading span.label, ul.list li div.subheading a.label {
  color: white;
}
/* line 165, ../sass/latto.subtheme.base.scss */
ul.list li div.subheading span.date {
  color: black;
}
/* line 169, ../sass/latto.subtheme.base.scss */
ul.list li img {
  height: auto;
  width: 100%;
}
/* line 173, ../sass/latto.subtheme.base.scss */
ul.list li.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 183, ../sass/latto.subtheme.base.scss */
ul.floated li img {
  display: inline-block;
  padding-right: 10px;
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 189, ../sass/latto.subtheme.base.scss */
ul.floated li div.content {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 200, ../sass/latto.subtheme.base.scss */
ul.simple li img, ul.simple li div.subheading, ul.simple li div.content {
  display: none;
}
/* line 209, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(153, 215, 219, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF99D7DB,endColorstr=#BF99D7DB);
  border-left: 1px solid rgba(153, 215, 219, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
}
/* line 216, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li {
  background-color: rgba(153, 215, 219, 0.25);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4099D7DB,endColorstr=#4099D7DB);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(153, 215, 219, 0.75);
  display: table-cell;
}
/* line 221, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li a {
  color: white;
  display: block;
  padding: 7.5px 15px;
  text-decoration: none;
}
/* line 226, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li a:hover {
  color: white;
}
/* line 230, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li.first {
  border-left: 0;
}
/* line 233, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li.last {
  border-right: 1px solid rgba(153, 215, 219, 0.5);
}
/* line 236, ../sass/latto.subtheme.base.scss */
ul.nav.nav-inline li.active {
  border-left: 0;
  border-right: 0;
  background-color: rgba(153, 215, 219, 0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8099D7DB,endColorstr=#8099D7DB);
}

/* line 247, ../sass/latto.subtheme.base.scss */
.label-info,
.badge-info {
  background-color: #99d7db;
}

/* line 252, ../sass/latto.subtheme.base.scss */
footer .grid-inner {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background-color: #eeeeee;
}

/* line 260, ../sass/latto.subtheme.base.scss */
.pane-menu-menu-footer-menu-1, .pane-menu-menu-footer-menu-2, .pane-menu-menu-footer-menu-3 {
  border-right: 2px solid white;
}

/* line 263, ../sass/latto.subtheme.base.scss */
.menu {
  list-style-type: none;
  margin: 0px;
}
/* line 267, ../sass/latto.subtheme.base.scss */
.menu a {
  color: black !important;
  margin: 0;
  text-transform: uppercase;
}

/* line 272, ../sass/latto.subtheme.base.scss */
.nav-wrapper {
  display: inline-block;
}

/* ==========================================================================
   Search pane styling
   ========================================================================== */
/* line 279, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-search-form {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  margin-bottom: 15px;
  min-height: 197px;
}

/* line 286, ../sass/latto.subtheme.base.scss */
.search-wrapper {
  margin-top: 0px;
}
/* line 288, ../sass/latto.subtheme.base.scss */
.search-wrapper h2 {
  margin: 20px;
}
/* line 291, ../sass/latto.subtheme.base.scss */
.search-wrapper form {
  margin: 20px;
  position: relative;
  width: 800px;
}
/* line 296, ../sass/latto.subtheme.base.scss */
.search-wrapper .btn {
  font-family: "Amble Light Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  right: 150px;
}

/* line 304, ../sass/latto.subtheme.base.scss */
.search-wrapper .form-text {
  width: 82%;
}

/* line 308, ../sass/latto.subtheme.base.scss */
.pane-system-user-menu {
  background: #99d7db;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
}

/* line 313, ../sass/latto.subtheme.base.scss */
.pane-ding-user-frontend-ding-user-loan-number {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  min-height: 125px;
}

/* ==========================================================================
   custom grid
   ========================================================================== */
/* line 322, ../sass/latto.subtheme.base.scss */
.grid-11-left {
  -moz-box-sizing: border-box;
  float: left;
  margin-left: 0;
  margin-right: -73%;
  padding-left: 10px;
  padding-right: 10px;
  width: 73%;
  word-wrap: break-word;
}

/* line 332, ../sass/latto.subtheme.base.scss */
article .grid-inner {
  background-color: white;
}

/* line 335, ../sass/latto.subtheme.base.scss */
article .grid-8-left, article .grid-8-right {
  background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/solid.png");
  width: 49%;
  margin-bottom: 15px;
}

/* line 340, ../sass/latto.subtheme.base.scss */
.grid-8-left .grid-inner, .grid-8-right .grid-inner {
  box-shadow: none;
  background-color: transparent;
}

/* ==========================================================================
   Login pane styling
   ========================================================================== */
/* line 349, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-user-login {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  margin-bottom: 15px;
}

/* line 356, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle {
  font-size: 12px;
  height: 28px;
  width: 21px;
  background-position: 6px 13px;
}

/* line 363, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle-collapsed {
  background-position: 6px 13px;
}

/* ***** match placeholder/watermark padding to border+padding for input element ***** */
/* line 369, ../sass/latto.subtheme.base.scss */
label.placeholder {
  cursor: text;
  padding: 0.4em 0.3em;
  color: #ccc;
}

/* html5 placeholder support */
/* line 376, ../sass/latto.subtheme.base.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}

/* line 380, ../sass/latto.subtheme.base.scss */
input:placeholder, textarea:placeholder {
  color: #ccc;
}

/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 5, ../sass/latto.subtheme.typography.scss */
body {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 39, ../sass/latto.mixins.scss */
::-webkit-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::-moz-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::-o-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 39, ../sass/latto.mixins.scss */
::selection {
  color: #eeeeee;
  background: #555555;
}

/* line 24, ../sass/latto.subtheme.typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* line 27, ../sass/latto.subtheme.typography.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
/* line 31, ../sass/latto.subtheme.typography.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: rgba(0, 0, 0, 0.85);
}
/* line 34, ../sass/latto.subtheme.typography.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: black;
}

/* line 40, ../sass/latto.subtheme.typography.scss */
h1 {
  color: black;
}

/* line 44, ../sass/latto.subtheme.typography.scss */
h3 {
  line-height: 22.5px;
}

/* line 52, ../sass/latto.subtheme.typography.scss */
a:link {
  color: #0077a2;
  text-decoration: none;
}
/* line 56, ../sass/latto.subtheme.typography.scss */
a:visited {
  color: #003f55;
}
/* line 59, ../sass/latto.subtheme.typography.scss */
a:hover {
  color: #002c3c;
  text-decoration: underline;
}
/* line 63, ../sass/latto.subtheme.typography.scss */
a:focus {
  color: #002c3c;
}
/* line 66, ../sass/latto.subtheme.typography.scss */
a:active {
  color: black;
}

/* line 84, ../sass/latto.subtheme.typography.scss */
.small {
  font-size: 6.5px;
}

/* line 88, ../sass/latto.subtheme.typography.scss */
.medium {
  font-size: 9.75px;
}

/* line 92, ../sass/latto.subtheme.typography.scss */
.big {
  font-size: 16.25px;
}

/* line 96, ../sass/latto.subtheme.typography.scss */
.bigger {
  font-size: 17.875px;
}

/* line 100, ../sass/latto.subtheme.typography.scss */
.biggest {
  font-size: 19.5px;
}
