/* ==========================================================================
   This file imports all of the stylesheets used in the theme.

   Notice that it is the latto files that are used, this means that if you
   update the latto theme you will automatically apply the changes.
   
   Important! Be careful before you update, there might be updates that
   influence the layout of your site.
   ========================================================================== */
/* equivalent to font-size: 100% */
/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 14, ../sass/latto.subtheme.base.scss */
body {
  background: url("../images/fabric_background.png") #eeeeee;
}

/* line 18, ../sass/latto.subtheme.base.scss */
header {
  background: transparent;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 23, ../sass/latto.subtheme.base.scss */
header .site-name {
  font-size: 85%;
  margin-left: 23px;
}
/* line 27, ../sass/latto.subtheme.base.scss */
header .logo {
  float: left;
  margin-right: 15px;
  margin-left: 7.5px;
}
/* line 31, ../sass/latto.subtheme.base.scss */
header .logo img {
  max-width: 40%;
}
/* line 34, ../sass/latto.subtheme.base.scss */
header .site-slogan {
  color: black;
  margin-left: 7.5px;
  position: absolute;
  top: 75px;
  font-size: 12px;
}
/* line 42, ../sass/latto.subtheme.base.scss */
header .header-inner {
  background: transparent;
  padding-bottom: 0px;
  padding-top: 7.5px;
  margin-left: 0px;
}
/* line 48, ../sass/latto.subtheme.base.scss */
header .grid-inner {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background: #69c9cf;
}

/* line 56, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active {
  border-color: #999999;
}
/* line 58, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active a {
  background-color: #999999;
}
/* line 60, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active a:before {
  border-bottom: 8px solid #999999;
}

/* line 66, ../sass/latto.subtheme.base.scss */
.rs-carousel-title {
  padding-top: 0px;
}

/* line 70, ../sass/latto.subtheme.base.scss */
.rs-carousel-compact .rs-carousel-mask {
  max-width: 75%;
}

/* ==========================================================================
Theme specific grid styling
========================================================================== */
/* line 77, ../sass/latto.subtheme.base.scss */
.pane-page-content {
  padding: 7.5px;
}

/* line 80, ../sass/latto.subtheme.base.scss */
.grid-content .grid-inner {
  padding: 0px!important;
}

/* ==========================================================================
Basic elements
========================================================================== */
/* Paragraphs
========================================================================== */
/* line 90, ../sass/latto.subtheme.base.scss */
p {
  margin-bottom: 5px;
}

/* Default horizontal ruler styles
========================================================================== */
/* line 97, ../sass/latto.subtheme.base.scss */
hr {
  background: #555555;
  color: #555555;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 99, ../sass/latto.subtheme.base.scss */
hr.primary {
  background: black;
  color: black;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 102, ../sass/latto.subtheme.base.scss */
hr.secondary {
  background: #69c9cf;
  color: #69c9cf;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 105, ../sass/latto.subtheme.base.scss */
hr.tertiary {
  background: #99d7db;
  color: #99d7db;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

/* ==========================================================================
Date
========================================================================== */
/* line 115, ../sass/latto.subtheme.base.scss */
.date-list .date-wrapper .day {
  background-color: #69c9cf !important;
}

/* line 118, ../sass/latto.subtheme.base.scss */
.list-compact .date {
  margin-right: 15px;
}

/* ==========================================================================
Navigation
========================================================================== */
/* line 128, ../sass/latto.subtheme.base.scss */
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}
/* line 135, ../sass/latto.subtheme.base.scss */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 143, ../sass/latto.subtheme.base.scss */
li.leaf {
  padding: 0.2em 0 0 0;
  /* LTR */
  margin: 0;
}
/* line 148, ../sass/latto.subtheme.base.scss */
li a.active {
  text-decoration: underline;
}

/* line 153, ../sass/latto.subtheme.base.scss */
.expanded .menu {
  margin-left: 15px;
}

/* line 157, ../sass/latto.subtheme.base.scss */
ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

/* line 164, ../sass/latto.subtheme.base.scss */
.main-menu {
  display: table;
  font-size: 15px;
  width: 100%;
  margin: 0px;
}
/* line 169, ../sass/latto.subtheme.base.scss */
.main-menu li {
  border-left: 1px solid #a3dee2;
  display: table-cell;
  text-align: center;
}
/* line 173, ../sass/latto.subtheme.base.scss */
.main-menu li.expanded, .main-menu li.collapsed, .main-menu li.leaf {
  margin: 0;
  padding: 0;
}
/* line 178, ../sass/latto.subtheme.base.scss */
.main-menu li a {
  border-left: 1px solid #75cdd3;
  color: white;
  display: block;
  height: 100%;
  min-width: 90px;
  padding: 15px;
  text-decoration: none;
}
/* line 186, ../sass/latto.subtheme.base.scss */
.main-menu li a i {
  font-size: 38px;
  padding-top: 15px;
  display: block;
  padding-left: 35px;
}
/* line 192, ../sass/latto.subtheme.base.scss */
.main-menu li a:hover {
  background: #d9d9d9;
}
/* line 196, ../sass/latto.subtheme.base.scss */
.main-menu li.active {
  border-left: 1px solid #75cdd3;
  background: #999999;
}

/* line 203, ../sass/latto.subtheme.base.scss */
.pane-menu-kviklinks ul li a {
  color: black;
  text-decoration: none !important;
}
/* line 206, ../sass/latto.subtheme.base.scss */
.pane-menu-kviklinks ul li a i {
  float: left;
}

/* line 210, ../sass/latto.subtheme.base.scss */
.pane-menu-kviklinks .pane-title {
  background: none repeat scroll 0 0 #CCCCCC;
  padding-left: 7.5px;
}

/* line 214, ../sass/latto.subtheme.base.scss */
.pane-menu-kviklinks h2 {
  font-size: 18px;
}

/* line 217, ../sass/latto.subtheme.base.scss */
.ding-entity-button {
  margin-left: 7.5px;
}

/* line 220, ../sass/latto.subtheme.base.scss */
.country {
  padding-right: 7.5px;
}

/* line 223, ../sass/latto.subtheme.base.scss */
.field-name-field-ding-library-list-image {
  float: left;
  margin-right: 7.5px;
}

/* line 227, ../sass/latto.subtheme.base.scss */
.libraries {
  float: left;
}

/* line 230, ../sass/latto.subtheme.base.scss */
#ding-library-front .panel-separator {
  height: 15px;
}

/* line 233, ../sass/latto.subtheme.base.scss */
.libraries-opening-hours {
  float: right;
  padding: 0;
  margin-bottom: 15px;
}

/* line 238, ../sass/latto.subtheme.base.scss */
.opening-hours-week {
  padding: 0;
}

/* line 241, ../sass/latto.subtheme.base.scss */
.opening-hours-week .days {
  padding: 0;
}

/* line 244, ../sass/latto.subtheme.base.scss */
.opening-hours-week .times {
  margin-right: 7.5px !important;
}

/* line 247, ../sass/latto.subtheme.base.scss */
.library-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 253, ../sass/latto.subtheme.base.scss */
.vcard {
  margin-bottom: 7.5px;
}

/* line 256, ../sass/latto.subtheme.base.scss */
.field-name-field-ding-library-mail a {
  font-size: 12px;
}

/* line 260, ../sass/latto.subtheme.base.scss */
.label-info,
.badge-info {
  background-color: #99d7db;
}

/* line 263, ../sass/latto.subtheme.base.scss */
footer .grid-inner {
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background-color: #eeeeee;
}

/* line 271, ../sass/latto.subtheme.base.scss */
.footer-menu {
  border-right: 2px solid white;
}
/* line 273, ../sass/latto.subtheme.base.scss */
.footer-menu h2 {
  color: #555555 !important;
  font-family: din,sans-serif,verdana;
  font-size: 13.65px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
/* line 281, ../sass/latto.subtheme.base.scss */
.footer-menu a {
  color: #999999 !important;
  font-size: 12px;
  list-style: none;
  text-decoration: none;
}

/* line 289, ../sass/latto.subtheme.base.scss */
.pane-menu-block-4 {
  border-right: none;
}

/* ==========================================================================
Search pane styling
========================================================================== */
/* line 296, ../sass/latto.subtheme.base.scss */
.search-login .grid-inner {
  margin-bottom: 15px;
}

/* line 299, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-search-form {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  min-height: 135px;
}

/* line 305, ../sass/latto.subtheme.base.scss */
.search-wrapper {
  background-color: #99d7db;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF99D7DB,endColorstr=#FF99D7DB);
  margin-top: 0px;
}
/* line 308, ../sass/latto.subtheme.base.scss */
.search-wrapper h2 {
  margin-left: 15px;
}
/* line 311, ../sass/latto.subtheme.base.scss */
.search-wrapper form {
  margin: 0px;
  position: relative;
  width: 100%;
}
/* line 315, ../sass/latto.subtheme.base.scss */
.search-wrapper .form-text {
  height: 40px;
  width: 80%;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
/* line 322, ../sass/latto.subtheme.base.scss */
.search-wrapper .btn {
  height: 38px;
  top: 34px;
  right: 0;
}

/* line 328, ../sass/latto.subtheme.base.scss */
.form-item, .form-actions {
  background-color: transparent;
  border-top: 0px solid transparent;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 335, ../sass/latto.subtheme.base.scss */
#edit-search-type .form-item-search-type {
  float: left;
  margin-right: 15px;
}

/* line 340, ../sass/latto.subtheme.base.scss */
html.js fieldset.collapsed .fieldset-legend, html.js fieldset.collapsible .fieldset-legend {
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-position: 0px 50%;
  padding: 0px 5px 0px 0px;
  margin-right: 15px;
}

/* line 352, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced {
  margin: 0;
  position: static;
  padding-top: 7.5px;
}
/* line 356, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced span.fieldset-legend {
  height: 38px;
  padding: 0;
  position: absolute;
  right: 70px;
  top: 31px;
  width: 150px;
}
/* line 364, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced legend {
  margin: 0px;
  border: 0px;
}
/* line 368, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced .fieldset-wrapper {
  left: -20px;
  padding: 0 10px 0 13px;
  position: relative;
  width: 100%;
  z-index: 50;
}
/* line 376, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced .fieldset-legend a {
  display: block;
  height: 40px;
  font-size: 13px;
  color: #555;
  font-weight: 400px;
  border-left: 1px solid #CCC;
  vertical-align: middle;
  padding-left: 15px;
  line-height: 38px;
}
/* line 387, ../sass/latto.subtheme.base.scss */
.search-wrapper .extendsearch-advanced .fieldset-legend a:hover {
  text-decoration: none;
}

/* line 393, ../sass/latto.subtheme.base.scss */
.search-wrapper .btn {
  top: 31px;
}

/* line 397, ../sass/latto.subtheme.base.scss */
html.js fieldset.collapsible .fieldset-legend a {
  background: url(../../../../../misc/menu-expanded.png) no-repeat;
  background-position: right;
}

/* line 409, ../sass/latto.subtheme.base.scss */
.extendsearch-advanced .fieldset-wrapper .form-item {
  width: 50%;
  float: left;
  height: 40px;
}
/* line 414, ../sass/latto.subtheme.base.scss */
.extendsearch-advanced .fieldset-wrapper .form-text {
  width: 235px;
  height: 30px;
}
/* line 418, ../sass/latto.subtheme.base.scss */
.extendsearch-advanced .fieldset-wrapper .form-select {
  width: 235px;
  height: 30px;
}
/* line 422, ../sass/latto.subtheme.base.scss */
.extendsearch-advanced .fieldset-wrapper .form-type-textfield label {
  float: left;
  padding: 3px 10px 2px;
  width: 80px;
}
/* line 427, ../sass/latto.subtheme.base.scss */
.extendsearch-advanced .fieldset-wrapper .form-type-select label {
  float: left;
  padding: 3px 10px 2px;
  width: 80px;
}

/* line 437, ../sass/latto.subtheme.base.scss */
ul.ui-autocomplete {
  max-width: 100%!important;
  z-index: 100;
}

/* line 441, ../sass/latto.subtheme.base.scss */
input#edit-search-block-form--2.spinner {
  background-position: 97%!important;
}

/* line 444, ../sass/latto.subtheme.base.scss */
.search-results .content {
  display: block!important;
}

/* line 447, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-recommendation-list {
  background: #F6F6F2;
}

/* line 450, ../sass/latto.subtheme.base.scss */
.pane-recommendation-list .list-item {
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
}

/* line 454, ../sass/latto.subtheme.base.scss */
.ting-cover {
  float: left;
  padding-right: 15px;
}

/* line 458, ../sass/latto.subtheme.base.scss */
.subjects.content {
  padding-top: 7.5px;
}

/* line 463, ../sass/latto.subtheme.base.scss */
.pane-system-user-menu {
  background: #99d7db;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
}

/* line 469, ../sass/latto.subtheme.base.scss */
.pane-user-login {
  min-height: 135px;
}
/* line 471, ../sass/latto.subtheme.base.scss */
.pane-user-login .form-item-name input {
  width: 90%;
  float: left;
}
/* line 475, ../sass/latto.subtheme.base.scss */
.pane-user-login .form-item-pass input {
  width: 58%;
  float: left;
}
/* line 479, ../sass/latto.subtheme.base.scss */
.pane-user-login .form-actions {
  width: 40px;
  float: left;
  margin-left: 7.5px;
}

/* line 491, ../sass/latto.subtheme.base.scss */
.search-login .pane-system-user-menu {
  min-height: 135px;
}

/* line 495, ../sass/latto.subtheme.base.scss */
.pane-ding-user-frontend-ding-user-loan-number {
  background: #99d7db;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
}

/* ==========================================================================
custom grid
========================================================================== */
/* line 503, ../sass/latto.subtheme.base.scss */
.grid-11-left {
  -moz-box-sizing: border-box;
  float: left;
  margin-left: 0;
  margin-right: -72%;
  padding-left: 10px;
  padding-right: 10px;
  width: 72%;
  word-wrap: break-word;
}

/* line 513, ../sass/latto.subtheme.base.scss */
article .grid-inner {
  background-color: white;
}

/* line 516, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-handle {
  background: #999999;
}

/* line 519, ../sass/latto.subtheme.base.scss */
.collapsall {
  display: block!important;
}

/* line 524, ../sass/latto.subtheme.base.scss */
.breadcrumb {
  margin-left: 15px;
  margin-right: 15px;
}

/* ==========================================================================
Login pane styling
========================================================================== */
/* line 531, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-user-login {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  min-height: 135px;
}

/* line 537, ../sass/latto.subtheme.base.scss */
#edit-profile-provider-alma-field-alma-phone-id {
  display: none;
}

/* line 540, ../sass/latto.subtheme.base.scss */
#edit-profile-provider-alma-field-absent-id {
  display: none;
}

/* line 544, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle {
  background-image: url("../images/new_arrow.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  width: 21px;
}

/* line 552, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-content {
  padding-top: 10px;
}

/* line 555, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle-collapsed {
  background-image: url("../images/new_arrow_collapsed.png");
  background-position: 6px 3px;
}

/* line 559, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container h2 {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
}

/* ***** match placeholder/watermark padding to border+padding for input element ***** */
/* line 567, ../sass/latto.subtheme.base.scss */
label.placeholder {
  cursor: text;
  padding: 0.4em 0.3em;
  color: #ccc;
}

/* html5 placeholder support */
/* line 574, ../sass/latto.subtheme.base.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}

/* line 578, ../sass/latto.subtheme.base.scss */
input:placeholder, textarea:placeholder {
  color: #ccc;
}

/* line 582, ../sass/latto.subtheme.base.scss */
.tags a {
  padding: 7.5px;
}

/* ==========================================================================
Content pane styling
========================================================================== */
/* line 590, ../sass/latto.subtheme.base.scss */
.pane-event-category-menu, .pane-news-category-menu {
  padding: 15px;
}

/* line 595, ../sass/latto.subtheme.base.scss */
#sliding-popup {
  background: url("../images/gradient.png") repeat-y scroll center center transparent;
}

/* line 599, ../sass/latto.subtheme.base.scss */
.pane-similarterms-ding-content-tags ul li {
  margin-bottom: 7.5px;
}

/* line 603, ../sass/latto.subtheme.base.scss */
.fffW-widget {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

/* line 609, ../sass/latto.subtheme.base.scss */
.fffW-widget .fffW-title {
  font-size: 16px !important;
  margin: 10px 0 0 !important;
}

/* line 614, ../sass/latto.subtheme.base.scss */
.fffW-widget p {
  font-size: 12px !important;
}

/* line 618, ../sass/latto.subtheme.base.scss */
#ding-library-front .rounded-corner {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* equivalent to font-size: 100% */
/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 5, ../sass/latto.subtheme.typography.scss */
body {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 66, ../sass/latto.mixins.scss */
::-webkit-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::-moz-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::-o-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::selection {
  color: #eeeeee;
  background: #555555;
}

/* line 24, ../sass/latto.subtheme.typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* line 27, ../sass/latto.subtheme.typography.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
/* line 31, ../sass/latto.subtheme.typography.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: rgba(0, 0, 0, 0.85);
}
/* line 34, ../sass/latto.subtheme.typography.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: black;
}

/* line 40, ../sass/latto.subtheme.typography.scss */
h1 {
  color: black;
}

/* line 44, ../sass/latto.subtheme.typography.scss */
h3 {
  line-height: 22.5px;
  font-size: 18px;
}

/* line 53, ../sass/latto.subtheme.typography.scss */
a:link {
  color: #0077a2;
  text-decoration: none;
}
/* line 57, ../sass/latto.subtheme.typography.scss */
a:visited {
  color: #003f55;
}
/* line 60, ../sass/latto.subtheme.typography.scss */
a:hover {
  color: #002c3c;
  text-decoration: underline;
}
/* line 64, ../sass/latto.subtheme.typography.scss */
a:focus {
  color: #002c3c;
}
/* line 67, ../sass/latto.subtheme.typography.scss */
a:active {
  color: black;
}

/* line 85, ../sass/latto.subtheme.typography.scss */
.small {
  font-size: 6.5px;
}

/* line 89, ../sass/latto.subtheme.typography.scss */
.medium {
  font-size: 9.75px;
}

/* line 93, ../sass/latto.subtheme.typography.scss */
.big {
  font-size: 16.25px;
}

/* line 97, ../sass/latto.subtheme.typography.scss */
.bigger {
  font-size: 17.875px;
}

/* line 101, ../sass/latto.subtheme.typography.scss */
.biggest {
  font-size: 19.5px;
}

/* line 5, ../sass/latto.ting.scss */
.availability-status:before {
  content: " (";
}

/* line 8, ../sass/latto.ting.scss */
.availability-status:after {
  content: ")";
}

/* line 13, ../sass/latto.ting.scss */
.navcount:before {
  content: " (";
}

/* line 16, ../sass/latto.ting.scss */
.navcount:after {
  content: ")";
}

/* line 19, ../sass/latto.ting.scss */
.availability {
  float: right;
}
/* line 21, ../sass/latto.ting.scss */
.availability ul {
  float: right;
}
/* line 23, ../sass/latto.ting.scss */
.availability ul li {
  display: inline;
  list-style-type: none;
  padding: 0 15px 0 0;
  border: none;
  margin: 0;
  float: right;
}

/* line 35, ../sass/latto.ting.scss */
.view-mode-collection-list .ting-cover-style-ding_medium {
  height: 131px;
  width: 85px;
}

/* line 40, ../sass/latto.ting.scss */
.field-name-ting-details-version .field-label {
  float: left;
}

/* line 44, ../sass/latto.ting.scss */
.field-name-ding-entity-buttons {
  float: right;
}
/* line 46, ../sass/latto.ting.scss */
.field-name-ding-entity-buttons form {
  float: left;
}

/* line 51, ../sass/latto.ting.scss */
.view-mode-collection-list {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 56, ../sass/latto.ting.scss */
.view-mode-full > div > div > div > h2 {
  border-bottom: 1px solid #E7ECEB;
  color: #790F21;
  margin: 10px 0;
}

/* line 61, ../sass/latto.ting.scss */
.view-mode-collection-list .field-name-ting-abstract {
  margin-left: 100px;
}

/* line 64, ../sass/latto.ting.scss */
.view-mode-collection-list .field-name-ting-subjects {
  margin-left: 100px;
}

/* line 68, ../sass/latto.ting.scss */
.field-name-ting-details-classification {
  display: inline-block;
}

/* line 71, ../sass/latto.ting.scss */
#ting-search-records-per-page > a:after {
  content: " ";
}

/* line 75, ../sass/latto.ting.scss */
.field-group-format {
  clear: both;
}

/* line 79, ../sass/latto.ting.scss */
.pane-ting-ting-collection-types h2, .pane-ting-ting-object-types h2, .pane-ting-ting-relation-anchors h2 {
  font-size: 1.2em;
  font-weight: bold;
}

/* ==========================================================================
  Advanced Search
  ========================================================================== */
/* ==========================================================================
  Facets styling
  ========================================================================== */
/* line 94, ../sass/latto.ting.scss */
.pane-ding-facetbrowser legend {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  padding-left: 15px;
  margin-bottom: 7.5px;
  border-bottom: 0px;
}
/* line 102, ../sass/latto.ting.scss */
.pane-ding-facetbrowser fieldset {
  margin-bottom: 15px;
}

/* line 107, ../sass/latto.ting.scss */
span#expand_more {
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 20px;
}

/* line 112, ../sass/latto.ting.scss */
span#expand_less {
  background: url(../images/minus-icon.png) no-repeat;
  margin-left: 15px;
  padding-left: 20px;
}

/* ==========================================================================
  Filter styling
  ========================================================================== */
/* line 124, ../sass/latto.ting.scss */
.pane-ting-search-records-per-page {
  float: left;
}

/* line 128, ../sass/latto.ting.scss */
#ting-search-records-per-page {
  font-weight: bold;
  margin-top: 4px;
}
/* line 131, ../sass/latto.ting.scss */
#ting-search-records-per-page a {
  margin-left: 7.5px;
}

/* line 137, ../sass/latto.ting.scss */
.pane-ting-search-sort-form {
  float: right;
}

/* line 141, ../sass/latto.ting.scss */
#ting-search-sort-form {
  margin-bottom: 0px;
}
/* line 143, ../sass/latto.ting.scss */
#ting-search-sort-form label {
  display: inline;
  font-weight: bold;
}
/* line 147, ../sass/latto.ting.scss */
#ting-search-sort-form select {
  width: 9em;
  margin-bottom: 0px;
  height: 2em;
}

/* line 154, ../sass/latto.ting.scss */
.form-item .description {
  display: none;
}

/* line 159, ../sass/latto.ting.scss */
#search-query-display {
  font-size: 1em;
  border-top: 0px;
  padding: 0px;
}

/* ==========================================================================
  Search results
  ========================================================================== */
/* line 169, ../sass/latto.ting.scss */
div.pane-search-result {
  margin-top: 15px;
}

/* line 173, ../sass/latto.ting.scss */
.pane-search-result h2 {
  font-size: 19.5px;
  color: #CCC;
}

/* line 178, ../sass/latto.ting.scss */
div.availability {
  margin-top: 7.5px;
}

/* line 184, ../sass/latto.ting.scss */
.ting-collection-types-header, .ting-object-types-header, .ting-relations-header {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding-left: 15px;
  font-size: 19.5px;
  font-weight: normal;
  width: 141px;
  color: #333;
}

/* line 197, ../sass/latto.ting.scss */
.pane-ting-ting-collection-types, .pane-ting-ting-object-types, .pane-ting-ting-relation-anchors {
  margin-bottom: 15px;
}
/* line 199, ../sass/latto.ting.scss */
.pane-ting-ting-collection-types li, .pane-ting-ting-object-types li, .pane-ting-ting-relation-anchors li {
  margin: 5px 0px;
}

/* line 204, ../sass/latto.ting.scss */
.view-mode-full > div > div > div > h2 {
  border-bottom: 1px solid #E7ECEB;
  color: #333;
  margin: 10px 0;
  font-size: 19.5px;
}

/* line 212, ../sass/latto.ting.scss */
.ting-relation h2, .field-name-ding-availability-holdings h2, .group-material-details h2 {
  font-size: 19.5px;
}

/* line 219, ../sass/latto.ting.scss */
.field-name-ding-periodical-issues {
  margin-top: 15px;
}

/* line 223, ../sass/latto.ting.scss */
li.ding-periodical-foldable {
  padding-top: 15px;
}

/* line 227, ../sass/latto.ting.scss */
.ding-periodical-fold {
  cursor: pointer;
}

/* line 230, ../sass/latto.ting.scss */
.ding-periodical-fold:hover {
  text-decoration: underline;
}

/* line 239, ../sass/latto.ting.scss */
.availability.processed {
  background-color: #555555;
  padding: 3.75px;
  margin-right: 7.5px;
  color: #FFF;
}
/* line 244, ../sass/latto.ting.scss */
.availability.processed a {
  color: #FFF;
}

/* line 246, ../sass/latto.ting.scss */
.availability.available.reservable {
  background-color: #40854B;
  padding: 3.75px;
  margin-right: 7.5px;
  color: #FFF;
}
/* line 251, ../sass/latto.ting.scss */
.availability.available.reservable a {
  color: #FFF;
}

/* line 253, ../sass/latto.ting.scss */
.availability.reservable {
  background-color: #F53;
  padding: 3.75px;
  margin-right: 7.5px;
  color: #FFF;
}
/* line 258, ../sass/latto.ting.scss */
.availability.reservable a {
  color: #FFF;
}

/* line 260, ../sass/latto.ting.scss */
.availability.available {
  background-color: #40854B;
  padding: 3.75px;
  margin-right: 7.5px;
  color: #FFF;
}
/* line 265, ../sass/latto.ting.scss */
.availability.available a {
  color: #FFF;
}

/* line 268, ../sass/latto.ting.scss */
.availability-legend {
  border-top: none;
  border-bottom: 1px solid #999999;
}

/* line 273, ../sass/latto.ting.scss */
.availability-legend-item.available img {
  background-color: #40854B;
}

/* line 277, ../sass/latto.ting.scss */
.availability-legend-item.unavailable img {
  background-color: #555555;
}

/* line 281, ../sass/latto.ting.scss */
.availability-legend-item.on-loan img {
  background-color: #F53;
}

/* line 284, ../sass/latto.ting.scss */
div.unreservable {
  display: none;
}

/* line 288, ../sass/latto.ting.scss */
.availability-legend-item .availability-label {
  font-size: 1em;
  font-weight: normal;
}

/* line 295, ../sass/latto.ting.scss */
.view-mode-collection-list .field-group-format {
  clear: none;
}

/* line 300, ../sass/latto.ting.scss */
.group-material-details .field-label {
  width: 132px;
  padding-right: 15px;
}

/* line 305, ../sass/latto.ting.scss */
.view-mode-collection-list .collapsed span.field-group-format-toggler a {
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 30px;
}

/* line 309, ../sass/latto.ting.scss */
.view-mode-collection-list span.field-group-format-toggler a {
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 30px;
}

/* line 1, ../sass/latto.logged.in.scss */
.profile label {
  display: inline-block;
}

/* line 5, ../sass/latto.logged.in.scss */
.profile label:after {
  content: ":";
}
