/* ==========================================================================
   This file imports all of the stylesheets used in the theme.

   Notice that it is the latto files that are used, this means that if you
   update the latto theme you will automatically apply the changes.
   
   Important! Be careful before you update, there might be updates that
   influence the layout of your site.
   ========================================================================== */
/* equivalent to font-size: 100% */
/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 14, ../sass/latto.subtheme.base.scss */
body {
  background: url("../images/noise_lines.png") #eeeeee;
}

/* line 18, ../sass/latto.subtheme.base.scss */
header {
  background: transparent;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 23, ../sass/latto.subtheme.base.scss */
header .site-name {
  font-size: 90%;
  margin-left: 23px;
}
/* line 27, ../sass/latto.subtheme.base.scss */
header .logo {
  float: left;
  margin-right: 15px;
  margin-left: 7.5px;
}
/* line 31, ../sass/latto.subtheme.base.scss */
header .logo img {
  width: 60%;
}
/* line 34, ../sass/latto.subtheme.base.scss */
header .site-slogan {
  color: black;
  margin-left: 7.5px;
  position: absolute;
  top: 75px;
  font-size: 12px;
}
/* line 42, ../sass/latto.subtheme.base.scss */
header .header-inner {
  background: transparent;
  padding-bottom: 0px;
  padding-top: 7.5px;
  margin-left: 0px;
}
/* line 48, ../sass/latto.subtheme.base.scss */
header .grid-inner {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background: #69c9cf;
}

/* line 56, ../sass/latto.subtheme.base.scss */
.form-item, .form-actions {
  background-color: transparent;
  border-top: 0px solid transparent;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* line 64, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active {
  border-color: #999999;
}
/* line 66, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active a {
  background-color: #999999;
}
/* line 68, ../sass/latto.subtheme.base.scss */
.rs-carousel-tabs ul li.active a:before {
  border-bottom: 8px solid #999999;
}

/* line 74, ../sass/latto.subtheme.base.scss */
.rs-carousel-title {
  padding-top: 0px;
}

/* line 78, ../sass/latto.subtheme.base.scss */
.rs-carousel-compact .rs-carousel-mask {
  max-width: 75%;
}

/* ==========================================================================
Theme specific grid styling
========================================================================== */
/* line 86, ../sass/latto.subtheme.base.scss */
.grid-content .grid-inner {
  padding: 7.5px;
}

/* ==========================================================================
Basic elements
========================================================================== */
/* Paragraphs
========================================================================== */
/* line 99, ../sass/latto.subtheme.base.scss */
p {
  margin-bottom: 5px;
}

/* Default horizontal ruler styles
========================================================================== */
/* line 106, ../sass/latto.subtheme.base.scss */
hr {
  background: #555555;
  color: #555555;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 108, ../sass/latto.subtheme.base.scss */
hr.primary {
  background: black;
  color: black;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 111, ../sass/latto.subtheme.base.scss */
hr.secondary {
  background: #69c9cf;
  color: #69c9cf;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
/* line 114, ../sass/latto.subtheme.base.scss */
hr.tertiary {
  background: #99d7db;
  color: #99d7db;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

/* ==========================================================================
Date
========================================================================== */
/* line 123, ../sass/latto.subtheme.base.scss */
.date-wrapper-inner {
  background: white !important;
}

/* ==========================================================================
Navigation
========================================================================== */
/* line 134, ../sass/latto.subtheme.base.scss */
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}
/* line 141, ../sass/latto.subtheme.base.scss */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 149, ../sass/latto.subtheme.base.scss */
li.leaf {
  padding: 0.2em 0 0 0;
  /* LTR */
  margin: 0;
}
/* line 154, ../sass/latto.subtheme.base.scss */
li a.active {
  text-decoration: underline;
}

/* line 159, ../sass/latto.subtheme.base.scss */
.expanded .menu {
  margin-left: 15px;
}

/* line 163, ../sass/latto.subtheme.base.scss */
ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

/* line 170, ../sass/latto.subtheme.base.scss */
.main-menu {
  display: table;
  font-size: 15px;
  width: 100%;
  margin: 0px;
}
/* line 175, ../sass/latto.subtheme.base.scss */
.main-menu li {
  border-left: 1px solid #a3dee2;
  display: table-cell;
  text-align: center;
}
/* line 179, ../sass/latto.subtheme.base.scss */
.main-menu li.expanded, .main-menu li.collapsed, .main-menu li.leaf {
  margin: 0;
  padding: 0;
}
/* line 184, ../sass/latto.subtheme.base.scss */
.main-menu li a {
  border-left: 1px solid #75cdd3;
  color: white;
  display: block;
  height: 100%;
  min-width: 90px;
  padding: 15px;
  text-decoration: none;
}
/* line 192, ../sass/latto.subtheme.base.scss */
.main-menu li a i {
  font-size: 38px;
  padding-top: 15px;
}
/* line 196, ../sass/latto.subtheme.base.scss */
.main-menu li a:hover {
  background: #d9d9d9;
}
/* line 200, ../sass/latto.subtheme.base.scss */
.main-menu li.active {
  border-left: 1px solid #75cdd3;
  background: #999999;
}

/* line 207, ../sass/latto.subtheme.base.scss */
.addressfield-container-inline:after {
  clear: none!important;
}

/* line 210, ../sass/latto.subtheme.base.scss */
.country {
  padding-right: 7.5px;
}

/* line 213, ../sass/latto.subtheme.base.scss */
.libraries {
  float: left;
}

/* line 216, ../sass/latto.subtheme.base.scss */
#ding-library-front .panel-separator {
  height: 15px;
}

/* line 219, ../sass/latto.subtheme.base.scss */
.libraries-opening-hours {
  float: right;
  padding: 0;
}

/* line 223, ../sass/latto.subtheme.base.scss */
.opening-hours-week {
  padding: 0;
}

/* line 226, ../sass/latto.subtheme.base.scss */
.opening-hours-week .days {
  padding: 0;
}

/* line 230, ../sass/latto.subtheme.base.scss */
.library-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 236, ../sass/latto.subtheme.base.scss */
.vcard {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 241, ../sass/latto.subtheme.base.scss */
.field-name-field-ding-library-mail a {
  font-size: 12px;
}

/* line 245, ../sass/latto.subtheme.base.scss */
.label-info,
.badge-info {
  background-color: #99d7db;
}

/* line 248, ../sass/latto.subtheme.base.scss */
footer .grid-inner {
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  position: relative;
  background-color: #eeeeee;
}

/* line 256, ../sass/latto.subtheme.base.scss */
.pane-menu-menu-footer-menu-1, .pane-menu-menu-footer-menu-2, .pane-menu-menu-footer-menu-3, .pane-menu-menu-footer-menu-4 {
  border-right: 2px solid white;
  min-height: 350px;
}
/* line 259, ../sass/latto.subtheme.base.scss */
.pane-menu-menu-footer-menu-1 h2, .pane-menu-menu-footer-menu-2 h2, .pane-menu-menu-footer-menu-3 h2, .pane-menu-menu-footer-menu-4 h2 {
  color: #555555 !important;
  font-family: din,sans-serif,verdana;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
/* line 267, ../sass/latto.subtheme.base.scss */
.pane-menu-menu-footer-menu-1 a, .pane-menu-menu-footer-menu-2 a, .pane-menu-menu-footer-menu-3 a, .pane-menu-menu-footer-menu-4 a {
  color: #999999 !important;
  font-size: 12px;
  list-style: none;
  text-decoration: none;
}

/* line 275, ../sass/latto.subtheme.base.scss */
.pane-menu-menu-footer-menu-4 {
  border-right: none;
}

/* ==========================================================================
Search pane styling
========================================================================== */
/* line 282, ../sass/latto.subtheme.base.scss */
.search-login .grid-inner {
  margin-bottom: 15px;
}

/* line 285, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-search-form {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  min-height: 160px;
}

/* line 292, ../sass/latto.subtheme.base.scss */
.search-wrapper {
  background-color: #99d7db;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF99D7DB,endColorstr=#FF99D7DB);
  margin-top: 0px;
}
/* line 295, ../sass/latto.subtheme.base.scss */
.search-wrapper h2 {
  margin: 0 0 0 20px;
}
/* line 298, ../sass/latto.subtheme.base.scss */
.search-wrapper form {
  margin: 0px 0 0 20px;
  position: relative;
  width: auto;
}
/* line 302, ../sass/latto.subtheme.base.scss */
.search-wrapper .form-text {
  height: 40px;
  width: 80%;
}
/* line 306, ../sass/latto.subtheme.base.scss */
.search-wrapper .btn {
  height: 40px;
  right: 5%;
}

/* line 311, ../sass/latto.subtheme.base.scss */
ul.ui-autocomplete {
  max-width: 100%!important;
  z-index: 100;
}

/* line 315, ../sass/latto.subtheme.base.scss */
input#edit-search-block-form--2.spinner {
  background-position: 97%!important;
}

/* line 318, ../sass/latto.subtheme.base.scss */
.search-results .content {
  display: block!important;
}

/* line 321, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-recommendation-list {
  background: #F6F6F2;
}

/* line 324, ../sass/latto.subtheme.base.scss */
.pane-recommendation-list .list-item {
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
}

/* line 328, ../sass/latto.subtheme.base.scss */
.ting-cover {
  float: left;
  padding-right: 15px;
}

/* line 332, ../sass/latto.subtheme.base.scss */
.subjects.content {
  padding-top: 7.5px;
}

/* line 335, ../sass/latto.subtheme.base.scss */
.pane-system-user-menu {
  background: #99d7db;
}

/* line 338, ../sass/latto.subtheme.base.scss */
.pane-ding-user-frontend-ding-user-loan-number {
  background: #99d7db;
  min-height: 88px;
}

/* ==========================================================================
custom grid
========================================================================== */
/* line 345, ../sass/latto.subtheme.base.scss */
.grid-11-left {
  -moz-box-sizing: border-box;
  float: left;
  margin-left: 0;
  margin-right: -72%;
  padding-left: 10px;
  padding-right: 10px;
  width: 72%;
  word-wrap: break-word;
}

/* line 355, ../sass/latto.subtheme.base.scss */
article .grid-inner {
  background-color: white;
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 361, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-handle {
  background: #999999;
}

/* line 364, ../sass/latto.subtheme.base.scss */
.collapsall {
  display: block!important;
}

/* line 367, ../sass/latto.subtheme.base.scss */
article .grid-8-left, article .grid-8-right {
  width: 49%;
  margin-bottom: 15px;
}

/* line 371, ../sass/latto.subtheme.base.scss */
.grid-8-left .grid-inner, .grid-8-right .grid-inner {
  box-shadow: none;
  background-color: transparent;
}

/* line 376, ../sass/latto.subtheme.base.scss */
.breadcrumb {
  margin-left: 15px;
  margin-right: 15px;
}

/* ==========================================================================
Login pane styling
========================================================================== */
/* line 383, ../sass/latto.subtheme.base.scss */
.panel-pane.pane-block.pane-user-login {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  background: #99d7db;
  min-height: 160px;
}

/* line 389, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle {
  background-image: url("../images/new_arrow.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  width: 21px;
}

/* line 397, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-content {
  padding-top: 10px;
}

/* line 400, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container .ctools-toggle-collapsed {
  background-image: url("../images/new_arrow_collapsed.png");
  background-position: 6px 1px;
}

/* line 404, ../sass/latto.subtheme.base.scss */
.ctools-collapsible-container h2 {
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
}

/* ***** match placeholder/watermark padding to border+padding for input element ***** */
/* line 412, ../sass/latto.subtheme.base.scss */
label.placeholder {
  cursor: text;
  padding: 0.4em 0.3em;
  color: #ccc;
}

/* html5 placeholder support */
/* line 419, ../sass/latto.subtheme.base.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
}

/* line 423, ../sass/latto.subtheme.base.scss */
input:placeholder, textarea:placeholder {
  color: #ccc;
}

/* line 427, ../sass/latto.subtheme.base.scss */
.tags a {
  padding: 7.5px;
}

/* equivalent to font-size: 100% */
/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/
/* line 5, ../sass/latto.subtheme.typography.scss */
body {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 66, ../sass/latto.mixins.scss */
::-webkit-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::-moz-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::-o-selection {
  color: #eeeeee;
  background: #555555;
}

/* line 66, ../sass/latto.mixins.scss */
::selection {
  color: #eeeeee;
  background: #555555;
}

/* line 24, ../sass/latto.subtheme.typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* line 27, ../sass/latto.subtheme.typography.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
/* line 31, ../sass/latto.subtheme.typography.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: rgba(0, 0, 0, 0.85);
}
/* line 34, ../sass/latto.subtheme.typography.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: black;
}

/* line 40, ../sass/latto.subtheme.typography.scss */
h1 {
  color: black;
}

/* line 44, ../sass/latto.subtheme.typography.scss */
h3 {
  line-height: 22.5px;
  font-size: 18px;
}

/* line 53, ../sass/latto.subtheme.typography.scss */
a:link {
  color: #0077a2;
  text-decoration: none;
}
/* line 57, ../sass/latto.subtheme.typography.scss */
a:visited {
  color: #003f55;
}
/* line 60, ../sass/latto.subtheme.typography.scss */
a:hover {
  color: #002c3c;
  text-decoration: underline;
}
/* line 64, ../sass/latto.subtheme.typography.scss */
a:focus {
  color: #002c3c;
}
/* line 67, ../sass/latto.subtheme.typography.scss */
a:active {
  color: black;
}

/* line 85, ../sass/latto.subtheme.typography.scss */
.small {
  font-size: 6.5px;
}

/* line 89, ../sass/latto.subtheme.typography.scss */
.medium {
  font-size: 9.75px;
}

/* line 93, ../sass/latto.subtheme.typography.scss */
.big {
  font-size: 16.25px;
}

/* line 97, ../sass/latto.subtheme.typography.scss */
.bigger {
  font-size: 17.875px;
}

/* line 101, ../sass/latto.subtheme.typography.scss */
.biggest {
  font-size: 19.5px;
}

/* line 5, ../sass/latto.ting.scss */
.availability-status:before {
  content: " (";
}

/* line 8, ../sass/latto.ting.scss */
.availability-status:after {
  content: ")";
}

/* line 11, ../sass/latto.ting.scss */
.availability {
  float: right;
}
/* line 13, ../sass/latto.ting.scss */
.availability ul {
  float: right;
}
/* line 15, ../sass/latto.ting.scss */
.availability ul li {
  display: inline;
  list-style-type: none;
  padding: 0 15px 0 0;
  border: none;
  margin: 0;
  float: right;
}

/* line 27, ../sass/latto.ting.scss */
.ting-cover-style-ding_medium {
  height: 131px;
  width: 85px;
}

/* line 32, ../sass/latto.ting.scss */
.field-name-ting-details-version .field-label {
  float: left;
}

/* line 36, ../sass/latto.ting.scss */
.field-name-ding-entity-buttons {
  float: right;
}
/* line 38, ../sass/latto.ting.scss */
.field-name-ding-entity-buttons form {
  float: left;
}

/* line 43, ../sass/latto.ting.scss */
.view-mode-collection-list {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 48, ../sass/latto.ting.scss */
.view-mode-full > div > div > div > h2 {
  border-bottom: 1px solid #E7ECEB;
  color: #790F21;
  margin: 10px 0;
}

/* line 53, ../sass/latto.ting.scss */
.field-name-ting-abstract {
  margin-left: 100px;
}

/* line 56, ../sass/latto.ting.scss */
.field-name-ting-subjects {
  margin-left: 100px;
}

/* Import the files from the latto theme
   ========================================================================== */
/* See: http://zengrids.com/help/#vars-legacy */
/* line 13, ../../latto/sass/_latto.grid.scss */
#page {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../../../../../lib/gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../lib/gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 17, ../../latto/sass/_latto.grid.scss */
.grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
}

/* line 24, ../../latto/sass/_latto.grid.scss */
.grid-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  overflow: hidden;
}

/* line 31, ../../latto/sass/_latto.grid.scss */
.grid-3-left {
  float: left;
  width: 18.75%;
  margin-left: 0%;
  margin-right: -18.75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 35, ../../latto/sass/_latto.grid.scss */
.grid-3-center-left {
  float: left;
  width: 18.75%;
  margin-left: 18.75%;
  margin-right: -37.5%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 39, ../../latto/sass/_latto.grid.scss */
.grid-3-center-right {
  float: right;
  width: 18.75%;
  margin-right: 18.75%;
  margin-left: -37.5%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 43, ../../latto/sass/_latto.grid.scss */
.grid-3-right {
  float: right;
  width: 18.75%;
  margin-right: 0%;
  margin-left: -18.75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 47, ../../latto/sass/_latto.grid.scss */
.grid-4-left {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 51, ../../latto/sass/_latto.grid.scss */
.grid-4-center-left {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 55, ../../latto/sass/_latto.grid.scss */
.grid-4-center {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 59, ../../latto/sass/_latto.grid.scss */
.grid-4-center-right {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 63, ../../latto/sass/_latto.grid.scss */
.grid-4-right {
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 67, ../../latto/sass/_latto.grid.scss */
.grid-5-left {
  float: left;
  width: 31.25%;
  margin-left: 0%;
  margin-right: -31.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 71, ../../latto/sass/_latto.grid.scss */
.grid-5-right {
  float: right;
  width: 31.25%;
  margin-right: 0%;
  margin-left: -31.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 75, ../../latto/sass/_latto.grid.scss */
.grid-6-center {
  float: left;
  width: 37.5%;
  margin-left: 31.25%;
  margin-right: -68.75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 79, ../../latto/sass/_latto.grid.scss */
.grid-8-left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 83, ../../latto/sass/_latto.grid.scss */
.grid-8-center {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 87, ../../latto/sass/_latto.grid.scss */
.grid-8-right {
  float: right;
  width: 50%;
  margin-right: 0%;
  margin-left: -50%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 91, ../../latto/sass/_latto.grid.scss */
.grid-9-left {
  float: left;
  width: 56.25%;
  margin-left: 0%;
  margin-right: -56.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 95, ../../latto/sass/_latto.grid.scss */
.grid-9-right {
  float: right;
  width: 56.25%;
  margin-right: 0%;
  margin-left: -56.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 99, ../../latto/sass/_latto.grid.scss */
.grid-10-left {
  float: left;
  width: 62.5%;
  margin-left: 0%;
  margin-right: -62.5%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 103, ../../latto/sass/_latto.grid.scss */
.grid-10-center {
  float: left;
  width: 62.5%;
  margin-left: 18.75%;
  margin-right: -81.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 107, ../../latto/sass/_latto.grid.scss */
.grid-10-right {
  float: right;
  width: 62.5%;
  margin-right: 0%;
  margin-left: -62.5%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 111, ../../latto/sass/_latto.grid.scss */
.grid-12-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 115, ../../latto/sass/_latto.grid.scss */
.grid-12-right {
  float: right;
  width: 75%;
  margin-right: 0%;
  margin-left: -75%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 119, ../../latto/sass/_latto.grid.scss */
.grid-13-left {
  float: left;
  width: 81.25%;
  margin-left: 0%;
  margin-right: -81.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 123, ../../latto/sass/_latto.grid.scss */
.grid-13-right {
  float: right;
  width: 81.25%;
  margin-right: 0%;
  margin-left: -81.25%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 127, ../../latto/sass/_latto.grid.scss */
.grid-full {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 132, ../../latto/sass/_latto.grid.scss */
.grid-clear-both {
  clear: both;
}

/* line 136, ../../latto/sass/_latto.grid.scss */
.grid-clear-left {
  clear: left;
}

/* line 140, ../../latto/sass/_latto.grid.scss */
.grid-clear-right {
  clear: right;
}

/* line 144, ../../latto/sass/_latto.grid.scss */
.grid-stack {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 7px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 149, ../../latto/sass/_latto.grid.scss */
.grid-row {
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 155, ../../latto/sass/_latto.grid.scss */
.grid-row.last {
  margin-bottom: 0;
}

/* line 4, ../../latto/sass/_latto.forms.scss */
.input-prepend,
.input-append {
  margin-bottom: 5px;
}
/* line 9, ../../latto/sass/_latto.forms.scss */
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input,
.input-append input,
.input-append select,
.input-append .uneditable-input {
  position: relative;
  *margin-left: 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 14, ../../latto/sass/_latto.forms.scss */
.input-prepend input:focus,
.input-prepend select:focus,
.input-prepend .uneditable-input:focus,
.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}
/* line 18, ../../latto/sass/_latto.forms.scss */
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}
/* line 22, ../../latto/sass/_latto.forms.scss */
.input-prepend .add-on,
.input-append .add-on {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  width: auto;
  height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #999999;
  border: 1px solid #ccc;
}
/* line 37, ../../latto/sass/_latto.forms.scss */
.input-prepend .add-on,
.input-prepend .btn,
.input-append .add-on,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 41, ../../latto/sass/_latto.forms.scss */
.input-prepend .active,
.input-append .active {
  background-color: #a7f4a0;
  border-color: #2be01b;
}

/* line 48, ../../latto/sass/_latto.forms.scss */
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
/* line 52, ../../latto/sass/_latto.forms.scss */
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

/* line 59, ../../latto/sass/_latto.forms.scss */
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 62, ../../latto/sass/_latto.forms.scss */
.input-append .uneditable-input {
  border-right-color: #ccc;
  border-left-color: #eee;
}
/* line 67, ../../latto/sass/_latto.forms.scss */
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 75, ../../latto/sass/_latto.forms.scss */
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 79, ../../latto/sass/_latto.forms.scss */
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 84, ../../latto/sass/_latto.forms.scss */
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 90, ../../latto/sass/_latto.forms.scss */
.form-inside {
  position: relative;
}
/* line 94, ../../latto/sass/_latto.mixins.scss */
.form-inside .form-text {
  font-size: 15px;
  font-size: 0.938rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 100%;
}
/* line 102, ../../latto/sass/_latto.mixins.scss */
.form-inside .form-actions {
  position: absolute;
  top: 4px;
  right: 4px;
}
/* line 106, ../../latto/sass/_latto.mixins.scss */
.form-inside .form-actions input {
  height: 22px;
  line-height: 14px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/* line 115, ../../latto/sass/_latto.mixins.scss */
.form-inside i {
  font-size: 15px;
  font-size: 0.938rem;
  left: 7.5px;
  position: absolute;
  bottom: 13.5px;
  color: #333333;
}
/* line 124, ../../latto/sass/_latto.mixins.scss */
.form-inside i + .form-text {
  padding-left: 24px;
}

/* line 93, ../../latto/sass/_latto.forms.scss */
.form-inside-large {
  position: relative;
}
/* line 94, ../../latto/sass/_latto.mixins.scss */
.form-inside-large .form-text {
  font-size: 25px;
  font-size: 1.563rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
}
/* line 102, ../../latto/sass/_latto.mixins.scss */
.form-inside-large .form-actions {
  position: absolute;
  top: 4px;
  right: 4px;
}
/* line 106, ../../latto/sass/_latto.mixins.scss */
.form-inside-large .form-actions input {
  height: 42px;
  line-height: 34px;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
}
/* line 115, ../../latto/sass/_latto.mixins.scss */
.form-inside-large i {
  font-size: 25px;
  font-size: 1.563rem;
  left: 12.5px;
  position: absolute;
  bottom: 22.5px;
  color: #333333;
}
/* line 124, ../../latto/sass/_latto.mixins.scss */
.form-inside-large i + .form-text {
  padding-left: 40px;
}

/* line 16, ../../latto/sass/_latto.lists.scss */
.list, .list-image, .list.floated, .list-compact, .list.simple, .date-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
/* line 23, ../../latto/sass/_latto.lists.scss */
.list > .list-item, .list-image > .list-item, .list.floated > .list-item, .list-compact > .list-item, .list.simple > .list-item, .date-list > .list-item {
  border-bottom: 1px solid #999999;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 30, ../../latto/sass/_latto.lists.scss */
.list > .list-item .image-container img, .list-image > .list-item .image-container img, .list.floated > .list-item .image-container img, .list-compact > .list-item .image-container img, .list.simple > .list-item .image-container img, .date-list > .list-item .image-container img {
  height: auto;
  max-width: 100%;
}
/* line 36, ../../latto/sass/_latto.lists.scss */
.list > .list-item .subheading, .list-image > .list-item .subheading, .list.floated > .list-item .subheading, .list-compact > .list-item .subheading, .list.simple > .list-item .subheading, .date-list > .list-item .subheading {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 40, ../../latto/sass/_latto.lists.scss */
.list > .list-item .subheading .date, .list-image > .list-item .subheading .date, .list.floated > .list-item .subheading .date, .list-compact > .list-item .subheading .date, .list.simple > .list-item .subheading .date, .date-list > .list-item .subheading .date {
  color: #404040;
}
/* line 45, ../../latto/sass/_latto.lists.scss */
.list > .list-item.last, .list-image > .list-item.last, .list.floated > .list-item.last, .list-compact > .list-item.last, .list.simple > .list-item.last, .date-list > .list-item.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 54, ../../latto/sass/_latto.lists.scss */
.list.highlighted > .list-item, .highlighted.list-image > .list-item, .highlighted.list.floated > .list-item, .highlighted.list-compact > .list-item, .highlighted.list.simple > .list-item, .highlighted.date-list > .list-item {
  border-bottom: 0;
}

/* line 71, ../../latto/sass/_latto.lists.scss */
.list-image > .list-item .image-container, .list.floated > .list-item .image-container, .floated.list-image > .list-item .image-container, .floated.list-compact > .list-item .image-container, .floated.list.simple > .list-item .image-container, .floated.date-list > .list-item .image-container {
  display: table-cell;
  margin-bottom: 10px;
  max-width: 10%;
}
/* line 76, ../../latto/sass/_latto.lists.scss */
.list-image > .list-item .image-container img, .list.floated > .list-item .image-container img, .floated.list-image > .list-item .image-container img, .floated.list-compact > .list-item .image-container img, .floated.list.simple > .list-item .image-container img, .floated.date-list > .list-item .image-container img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 3px;
  /* Adding margin to make sure top of image align with top of text */
  height: auto;
  max-width: 100%;
}
/* line 86, ../../latto/sass/_latto.lists.scss */
.list-image > .list-item .content, .list.floated > .list-item .content, .floated.list-image > .list-item .content, .floated.list-compact > .list-item .content, .floated.list.simple > .list-item .content, .floated.date-list > .list-item .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}
/* line 95, ../../latto/sass/_latto.lists.scss */
.list-image.highlighted, .highlighted.list.floated, .highlighted.floated.list-image, .highlighted.floated.list-compact, .highlighted.floated.list.simple, .highlighted.floated.date-list {
  margin-top: 15px;
  letter-spacing: -4px;
}
/* line 100, ../../latto/sass/_latto.lists.scss */
.list-image.highlighted div, .highlighted.list.floated div, .highlighted.floated.list-image div, .highlighted.floated.list-compact div, .highlighted.floated.list.simple div, .highlighted.floated.date-list div, .list-image.highlighted p, .highlighted.list.floated p, .highlighted.floated.list-image p, .highlighted.floated.list-compact p, .highlighted.floated.list.simple p, .highlighted.floated.date-list p, .list-image.highlighted a, .highlighted.list.floated a, .highlighted.floated.list-image a, .highlighted.floated.list-compact a, .highlighted.floated.list.simple a, .highlighted.floated.date-list a, .list-image.highlighted span, .highlighted.list.floated span, .highlighted.floated.list-image span, .highlighted.floated.list-compact span, .highlighted.floated.list.simple span, .highlighted.floated.date-list span {
  letter-spacing: normal;
}
/* line 104, ../../latto/sass/_latto.lists.scss */
.list-image.highlighted .list-item, .highlighted.list.floated .list-item, .highlighted.floated.list-image .list-item, .highlighted.floated.list-compact .list-item, .highlighted.floated.list.simple .list-item, .highlighted.floated.date-list .list-item {
  border-bottom: 0;
  display: inline-block;
  max-width: 50%;
}

/* line 129, ../../latto/sass/_latto.lists.scss */
.list-compact > .list-item, .list.simple > .list-item, .simple.list-image > .list-item, .simple.list.floated > .list-item, .simple.list-compact > .list-item, .simple.date-list > .list-item {
  display: table;
}
/* line 132, ../../latto/sass/_latto.lists.scss */
.list-compact > .list-item .date, .list.simple > .list-item .date, .simple.list-image > .list-item .date, .simple.list.floated > .list-item .date, .simple.list-compact > .list-item .date, .simple.date-list > .list-item .date {
  display: table-cell;
  min-width: 60px;
  color: #404040;
}
/* line 138, ../../latto/sass/_latto.lists.scss */
.list-compact > .list-item .heading, .list.simple > .list-item .heading, .simple.list-image > .list-item .heading, .simple.list.floated > .list-item .heading, .simple.list-compact > .list-item .heading, .simple.date-list > .list-item .heading {
  font-size: 18.2px;
  font-size: 1.138rem;
  display: table-cell;
  margin-left: 15px;
}

/* line 166, ../../latto/sass/_latto.lists.scss */
.date-list .date-wrapper {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px -2px;
  font-size: 11.7px;
  font-size: 0.731rem;
  display: inline-block;
  margin-top: 3px;
  margin-right: 7.5px;
  min-width: 60px;
  color: #404040;
  text-align: center;
  vertical-align: top;
}
/* line 180, ../../latto/sass/_latto.lists.scss */
.date-list .date-wrapper .day {
  background-color: #69c9cf;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 185, ../../latto/sass/_latto.lists.scss */
.date-list .date-wrapper .date-wrapper-inner {
  border: 1px solid #d9d9d9;
  background: black;
}
/* line 190, ../../latto/sass/_latto.lists.scss */
.date-list .date-wrapper .date-wrapper-inner .date {
  font-size: 19.5px;
  font-size: 1.219rem;
  margin-top: 3.75px;
}
/* line 197, ../../latto/sass/_latto.lists.scss */
.date-list .content {
  display: inline-block;
}
