body {
  background: none;
}

footer,
header,
div.search-login {
  display: none;
}

.grid-inner {
  max-width: none;
}

.grid-full {
  padding: 0;
}

/** Stuff specific for user status */
/** Hide the form input specific stuff */
form .table td:first-child,
form .table th:first-child,
form .table td:last-child,
form .table th:last-child,
form .table input,
form .table .ting-cover,
form .table .ting-object img {
  display: none;
}

/** Stuff specific for user status */
form .table .ting-object .field {
  display: inline-block;
  padding-top: 0 !important;
}

/** Stuff specific for user status */
form .table .ting-object .field h2 {
  line-height: normal;
}

/** Stuff specific for user reservation status */
.delete-reservations input,
.update-reservations input {
  display: none;
}

/** Stuff specific for user loans status */
.renew-loan-button input {
  display: none;
}
