body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}

input {
  display: none;
}

/* Hide the print block */
.print_html {
  display: none;
}

th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}

/** Stuff specific for user status */
/** Hide the form input specific stuff */
form .table td:first-child,
form .table th:first-child,
form .table td:last-child,
form .table th:last-child,
form .table input,
form .table .ting-cover,
form .table .ting-object img {
  display: none;
}

form .table .clearfix:after {
  clear: none;
  content: none;
  display: none;
}

tr.odd {
  background-color: #ddd;
}

tr.even {
  background-color: #fff;
}

td {
  padding: 5px;
}

#menu {
  visibility: hidden;
}

#main {
  margin: 1em;
}

a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {}
.print-submitted {font-size: small;}
.print-created {font-size: small;}

.print-taxonomy {
  text-align: right;
}

.print-taxonomy li {display: inline;}
.print-content {}

.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}

.print-message {
  border: medium dotted blue;
  padding: 1em;
}

.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {text-align: center;}

.table{
  width: 100%;
}

.table div {
  display: inline-block;
}

.table .field-name-ting-type.field-type-ting-type ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table .field.field-name-ting-title.field-type-ting-title {
  padding-right: 7.5px;
}

.table .field-name-ting-author.field-type-ting-author {
  padding-right: 7.5px;
}

.table h2 {
  font-size: 14px;
  margin: 0;
}

.table p {
  display: inline-block;
  margin: 0;
}

#ding-reservation-reservations-notready-form th:nth-child(4) {
  display: none;
}
#ding-reservation-reservations-notready-form .expire-date{
  display: none;
}
