$theme_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary_color: #69c8cf;
$menu_active: #999999;
$tertiarycolor: #99d7db;
$linkcolor: #0077a2;
$date_list_text_color: #ffffff;
$label_info_text_color: #0077a2;
$footer_background: #eeeeee;
$footer_text_color: #555555;
$btn_bg_color: #ffffff;
$btn_info_bg_color: #5bc0de;
$btn_info_text_color: #000000;
