$theme_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary_color: #0098d9;
$menu_active: #84b9e5;
$tertiarycolor: #0098d9;
$linkcolor: #0098d9;
$date_list_text_color: #ffffff;
$label_info_text_color: #ffffff;
$footer_background: #eeeeee;
$footer_text_color: #555555;
$btn_bg_color: #ffffff;
$btn_info_bg_color: #ffffff;
$btn_info_text_color: #000000;
