// The default stylesheet for the Latto theme.
//
// Documentation written in KSS (https://github.com/kneath/kss/blob/master/SPEC.md)
// Find a styleguide at ding2tal.ting.dk/profiles/ding2/themes/latto/tools/tdcss/index.html
//
//
// Compass version 0.12.2 (Alnilam)
// Zen Grids version 1.2

@import 'latto.mixins.scss';
@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';

body {
  background: $theme-background;
}

header {
  background: transparent;
  overflow: hidden;
  padding-bottom: $default-spacing;
  padding-top: $default-spacing;
  .site-name {
    font-size: 85%;
    margin-left: 23px;
  }
  .logo {
    float: left;
    margin-right: $default-spacing;
    margin-left: $default-spacing / 2;
    img {
      max-width: 40%; 
    } }
    .site-slogan {
      color: $black;
      margin-left: $default-spacing / 2;
      position: absolute;
      top: 75px;
      font-size: 12px
    }
    
    .header-inner {
      background: transparent;
      padding-bottom: 0px;
      padding-top: $default-spacing / 2;
      margin-left: 0px;
    } 
    .grid-inner {
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
      position: relative;
      background: $theme-secondary-color;
    } 
  }
  
  .rs-carousel-tabs ul li.active {
    border-color: $gray-light;
    a {
      background-color: $gray-light;
      &:before {
        border-bottom: 8px solid $gray-light;
      }
    }
  }
  
  .rs-carousel-title {
    padding-top: 0px;
  }
  
  .rs-carousel-compact .rs-carousel-mask {
    max-width: 75%;
  }
  /* ==========================================================================
  Theme specific grid styling
  ========================================================================== */
  
  .pane-page-content {
      padding: $default-spacing / 2;
    }
  .grid-content .grid-inner {
    padding: 0px!important;
}
  /* ==========================================================================
  Basic elements
  ========================================================================== */
  
  /* Paragraphs
  ========================================================================== */
  
  p {
    margin-bottom: $default-spacing / 3;
  }
  
  /* Default horizontal ruler styles
  ========================================================================== */
  
  hr {
    @include colruler();
    &.primary {
      @include colruler($theme-primary-color);
    }
    &.secondary {
      @include colruler($theme-secondary-color);
    }
    &.tertiary {
      @include colruler($theme-tertiary-color);
    }
  }
 

  /* ==========================================================================
  Date
  ========================================================================== */   

    .date-list .date-wrapper .day {
      background-color: $theme-secondary-color!important;
    }
   .list-compact .date{
    margin-right: $default-spacing;
      }
  
  /* ==========================================================================
  Navigation
  ========================================================================== */ 
  // The navigation bar used for the main-menu.
  // No styleguide reference
ul {
  &.menu {
    border: none;
    list-style: none;
    text-align: left;
    /* LTR */
  }
  li {
    &.leaf {
      list-style-image: none;
      list-style-type: none;
    }
  }
}

li {
   &.leaf {
    padding: 0.2em 0 0 0;
    /* LTR */
    margin: 0;
  }
  a.active {
    text-decoration: underline;
  }
}

.expanded .menu {
  margin-left: $default-spacing;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

    
  .main-menu {
    display: table;
    font-size: $navbar-font-size;
    width: 100%;
    margin: 0px;
    li {
      border-left: 1px solid lighten($navbar-background-color, 15%);
      display: table-cell;
      text-align: center;
      &.expanded, &.collapsed, &.leaf {
        margin: 0;
        padding: 0;
      }
      
      a {
        border-left: 1px solid lighten($navbar-background-color, 3%);
        color: $navbar-text-color;
        display: block;
        height: 100%;
        min-width: 90px;
        padding: $default-spacing;
        text-decoration: none;
        &i{
          font-size: 38px;
          padding-top: $default-spacing;
          display: block;
          padding-left: 35px;
        }
        &:hover {
          background: darken($navbar-text-color, 15%);
        }
      }
      &.active {
        border-left: 1px solid lighten($navbar-background-color, 3%);
        background: $gray-light;
      }
    }
  }
  
.pane-menu-kviklinks ul li a{   
    color: black;
    text-decoration: none !important;
    &i{
      float: left;
      }
    } 
.pane-menu-kviklinks .pane-title {
    background: none repeat scroll 0 0 #CCCCCC;
    padding-left: $default-spacing /2;
   } 
   .pane-menu-kviklinks h2{
     font-size: 18px;
     }
  .ding-entity-button {
    margin-left: $default-spacing / 2;
  }
  .country {
    padding-right: $default-spacing / 2;
  }
  .field-name-field-ding-library-list-image {
    float: left;
    margin-right: 7.5px;
  }
  .libraries {
    float: left;
  }
  #ding-library-front .panel-separator{
    height: $default-spacing;
    }   
  .libraries-opening-hours{
    float: right;
    padding: 0;
    margin-bottom: $default-spacing;
  }
  .opening-hours-week{ 
    padding: 0;
  }    
  .opening-hours-week .days{ 
    padding: 0;
  }
  .opening-hours-week .times {
    margin-right: $default-spacing /2!important;
  }
  .library-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .vcard{
    margin-bottom: $default-spacing /2;
  }
  .field-name-field-ding-library-mail a{
    font-size: 12px;
    }
  .label-info,
  .badge-info {
    background-color: $theme-tertiary-color;
  }
  footer .grid-inner {
    margin-top: $default-spacing;
    @include single-box-shadow;
    @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
    position: relative;
    background-color: $gray-lighter;
  }
  
  .footer-menu {
    border-right: 2px solid white;
    &h2 {
      color: $gray!important; 
      font-family: din,sans-serif,verdana;
      font-size: $theme-font-size * 1.05;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
    }
    &a {
      color: $theme-footer-color!important; 
      font-size: 12px;
      list-style: none;
      text-decoration: none;
    }
  }
  
  .pane-menu-block-4 { 
    border-right: none;
  }
  
    /* ==========================================================================
    Search pane styling
    ========================================================================== */
  .search-login .grid-inner{
        margin-bottom: $default-spacing;
    }
  .panel-pane.pane-block.pane-search-form {
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
      background: $theme-tertiary-color;     
      min-height: 135px;
    }
    .search-wrapper{
      @include rgba-background($theme-tertiary-color, 1);
      margin-top: 0px;
      h2 {
        margin-left: $default-spacing;
      }
      form {
        margin: 0px;
        position: relative;
        width: 100%;
        }.form-text {
          height: 40px;
          width: 80%;
          -webkit-border-radius: 4px 0px 0px 4px;
          -moz-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
        }
      .btn {
        height: 38px;
        top: 34px;
        right: 0;
      }
    }
   .form-item, .form-actions {
    background-color: transparent;
    border-top: 0px solid transparent;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #edit-search-type .form-item-search-type{
  float: left;
  margin-right: $default-spacing;
  }    
  
  html.js fieldset.collapsed .fieldset-legend, html.js fieldset.collapsible .fieldset-legend {
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-position: 0px 50%;
    padding: 0px 5px 0px 0px;
    margin-right: 15px;
  }  
    
  .search-wrapper .extendsearch-advanced {
    margin: 0;
    position: static;
    padding-top: $default-spacing / 2;
    span.fieldset-legend {
      height: 38px;
      padding: 0;
      position: absolute;
      right: 70px;
      top: 31px;
      width: 150px;
    }
    legend {
      margin: 0px;
      border: 0px;
    }
    .fieldset-wrapper {
      left: -20px;
      padding: 0 10px 0 13px;
      position: relative;;
      width: 100%;
      z-index: 50;
    }
    .fieldset-legend {
      a {
        display: block;
        height: 40px;
        font-size: 13px;
        color: #555;
        font-weight: 400px;
        border-left: 1px solid #CCC;
        vertical-align: middle;
        padding-left: $default-spacing;
        line-height: 38px;
      }
      a:hover {
        text-decoration: none;    
      }
  }
}
    
    .search-wrapper .btn {
      top: 31px;
    }

    html.js fieldset.collapsible .fieldset-legend a{
      background: url(../../../../../misc/menu-expanded.png) no-repeat;
      background-position: right;
    }
    
    
    //advanced search
        
    .extendsearch-advanced {

      .fieldset-wrapper {   

        .form-item {
          width: 50%;
          float: left;
          height: 40px;
          }  
        .form-text {
            width: 235px;
            height: 30px;
            }    
        .form-select {
            width: 235px;
            height: 30px;
            }         
        .form-type-textfield label  {     
          float: left;
          padding: 3px 10px 2px;
          width: 80px;
         }
         .form-type-select label  {       
          float: left;
          padding: 3px 10px 2px;
          width: 80px;
         }
       }
    }
        
    //
    
    ul.ui-autocomplete { 
      max-width: 100%!important;
      z-index:100;
    }
    input#edit-search-block-form--2.spinner {
      background-position: 97%!important;
    }
    .search-results .content{
      display: block!important;
    }
    .panel-pane.pane-recommendation-list{
      background: #F6F6F2;
    }
    .pane-recommendation-list .list-item{      
      margin-bottom: $default-spacing /2;
      padding-bottom: $default-spacing /2;
    }
    .ting-cover {
      float: left;
      padding-right: $default-spacing;
    }
    .subjects.content{
      padding-top: $default-spacing /2;
}

    //user menu
    .pane-system-user-menu {
      background: $theme-tertiary-color;
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
    }

    .pane-user-login {
      min-height: 135px;
      #edit-name {
        width: 90%;
        float: left;
        }
      #edit-pass {
        width: 58%;
        float: left;
        }
      #edit-actions--2 {
        width: 40px;
        float: left;
        margin-left: $default-spacing / 2;
        }
      .btn-info {
        //-webkit-border-radius: 0px 4px 4px 0px;
        //-moz-border-radius: 0px 4px 4px 0px;
        //border-radius: 0px 4px 4px 0px;
      }  
    }

    .search-login .pane-system-user-menu {
      min-height: 135px;
    }  
    
    .pane-ding-user-frontend-ding-user-loan-number {
      background: $theme-tertiary-color;
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
    }
    /* ==========================================================================
    custom grid
    ========================================================================== */
    .grid-11-left {
      -moz-box-sizing: border-box;
      float: left;
      margin-left: 0;
      margin-right: -72%;
      padding-left: 10px;
      padding-right: 10px;
      width: 72%;
      word-wrap: break-word;
    }
    article .grid-inner{
      background-color: $white;
    }
    .ctools-collapsible-handle{
      background: $gray-light;
    }
    .collapsall{
      display: block!important;
    }
  
    
    .breadcrumb {
      margin-left: $default-spacing;
      margin-right: $default-spacing;
    } 
    /* ==========================================================================
    Login pane styling
    ========================================================================== */
    .panel-pane.pane-block.pane-user-login {
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
      background: $theme-tertiary-color;    
      min-height: 135px;
    }
    #edit-profile-provider-alma-field-alma-phone-id{
      display:none;
      }
      #edit-profile-provider-alma-field-absent-id{
        display:none;
        }
  
    .ctools-collapsible-container .ctools-toggle {
      background-image: url("../images/new_arrow.png");
      background-position: 3px 3px;
      background-repeat: no-repeat;
      cursor: pointer;
      float: left;  
      width: 21px;
    }
    .ctools-collapsible-content{
      padding-top: 10px;
    }
    .ctools-collapsible-container .ctools-toggle-collapsed {
      background-image: url("../images/new_arrow_collapsed.png");
      background-position: 6px 3px;
    }
    .ctools-collapsible-container h2{
      font-size: 12px;
      line-height: 20px;
      color: $white;
      text-transform: uppercase;
    }
    /* ***** match placeholder/watermark padding to border+padding for input element ***** */
    
    label.placeholder {
      cursor: text;
      padding: 0.4em 0.3em;
      color: #ccc;
    }
    
    /* html5 placeholder support */
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:#ccc;
    }
    
    input:placeholder, textarea:placeholder {
      color:#ccc;
    }
    
    .tags a{
      padding: $default-spacing / 2;
    }
    
    /* ==========================================================================
    Content pane styling
    ========================================================================== */
    
  .pane-event-category-menu, .pane-news-category-menu {
    padding: $default-spacing;   
  }

  //cookie slider
  #sliding-popup {
      background: url("../images/gradient.png") repeat-y scroll center center transparent;
      }     
  
.pane-similarterms-ding-content-tags ul li {
  margin-bottom: $default-spacing / 2;
}

.fffW-widget {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

.fffW-widget .fffW-title {
  font-size: 16px !important;
  margin: 10px 0 0 !important;
}

.fffW-widget p {
  font-size: 12px !important;
}

#ding-library-front .rounded-corner {
  margin-bottom: 1em;
  margin-top: 1em;
}
