// This file holds all the variables for the theme.

// Imports
// -------------------------
@import "compass/css3";


// Grayscale colors.
// -------------------------
$black:                 #000 !default;
$gray-darker:           #222 !default;
$gray-dark:             #333 !default;
$gray:                  #555 !default;
$gray-light:            #999 !default;
$gray-lighter:          #eee !default;
$white:                 #fff !default;

// Theme variables.
$theme-background-color:  $gray-lighter;
$theme-background:        url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png') $theme-background-color;


// Font variables.
// -------------------------
$default-font-size:       13px;
$theme-line-height:       18px;
$theme-font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;


// Text colors
// -------------------------
$theme-primary-color:         $black;
$theme-secondary-color:       yellow;
$theme-tertiary-color:        #69C9CF;
$menu-active:                 #737577;
$theme-selection-color:       $gray-lighter;
$theme-selection-background:  $gray;


// Links
// -------------------------
$link-color:              #0077a2 !default;
$link-color-hover:        darken($link-color, 20%) !default;


$theme-header-background: $theme-secondary-color;

$theme-breadcrumb-background: transparent;
$theme-breadcrumb-border-bottom: 1px solid $gray-light;

$theme-block-background:  $gray-light;
$theme-block-color:       $gray-light;
$theme-block-color-hover: $gray-light;
$theme-block-inverse-background: $gray-light;
$theme-block-inverse-color: $gray-light;

$theme-content-background:  $gray-light;
$theme-content-color:       $gray-light;

$theme-image-border:        $gray-light;

$theme-footer-background:   $gray-light;
$theme-footer-color:        $gray-light;
$theme-footer-color-hover:  $gray-light;

$theme-header-color:      $gray-light;

$theme-subheader-color:   $gray-light;

$theme-blockheader-color: $gray-light;


// Grids and spacing
// -------------------------
$default-spacing: 15px;


// Navigation
//--------------------------

$navbar-background-color:   $theme-tertiary-color;
$navbar-text-color:         $white;
$navbar-item-spacing:       $default-spacing / 2 $default-spacing;

// List
//--------------------------
$list-item-spacing:         10px;
$list-picture-width:        10%;


/*

#Theme elements
background
header background
logo
menu background
menu colors
submenu background
submenu colors
breadcrumb background
breadcrumb colors
block background
block colors
block inverse background
block inverse colors
content background
content colors
image border
footer background
footer colors

#Text elements

h1: header
h2: subheader

h2 -> block: blockheader

h3, h4, h5

h6

a: inline

a: read-more

p

p: manchet

#Other elements

btn: background

btn: text



*/