// This files contains styling of specific for ting objects and the search
// results page.

// Place () around .navcount
.navcount:before {
  content: " (";
}
.navcount:after {
  content: ")";
}
.view-header.navcount {
    float: right;
    margin-left: 7.5px;
}
.availability {
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;
  ul {
    float: right;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 $default-spacing 0 0;
      border: none;
      margin: 0;
      margin-top: $default-spacing /2;
      float: right;
    }
  }
}
tbody tr.unavailable {
    color: #cc0000;
}
tbody tr.available {
    color: #40854b;
}
.field-name-ting-details-version .field-label{
  float: left;
}

.field-name-ding-entity-buttons{
  float: right;
  form{
    float: left;
  }
}

.view-mode-collection-list {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.view-mode-full > div > div > div > h2 {
  border-bottom: 1px solid #E7ECEB;
  color: #790F21;
  margin: 10px 0;
}
.view-mode-collection-list .field-name-ting-subjects{
  margin: $default-spacing 0;
}

.field-name-field-ding-news-materials .field-name-ting-series{
  height: 20px;
  }
.ting-object.view-mode-teaser{
  margin-top: $default-spacing;
  margin-bottom: $default-spacing;
  }

.field-name-ting-details-classification{
  float: left;
  padding-top: 8px;
}
.created-date{
    min-width: 70px;
}
.expire-date{
    min-width: 70px;
}
#ting-search-records-per-page > a:after{
    content: " ";
}  

.field-group-format {
  clear: both;  
  }

.pane-ting-ting-collection-types h2, .pane-ting-ting-object-types h2, .pane-ting-ting-relation-anchors h2 {
    font-size: 1.2em;
    font-weight: bold;
}  
  
/* ==========================================================================
  Advanced Search
  ========================================================================== */


/* ==========================================================================
  Facets styling
  ========================================================================== */

.pane-ding-facetbrowser {
    legend {
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
      background: $theme-tertiary-color; 
      padding-left: $default-spacing;
      margin-bottom: $default-spacing / 2;
      border-bottom: 0px;
    } 
    fieldset {
      margin-bottom: $default-spacing;
    }    
  }
  
.pane-search-backends .expand:before, .pane-ding-facetbrowser .expand:before, .pane-search-backends .selected-checkbox-group .unselect:before, .pane-ding-facetbrowser .selected-checkbox-group .unselect:before, .pane-search-backends .expand-facets:before, .pane-ding-facetbrowser .expand-facets:before {
    float: left;
    font-family: "FontAwesome";
    font-size: 130%;
    margin-right: 3px;
    margin-top: -1px;
    padding-right: 5px;
    text-decoration: none;
}
.icon-plus-sign:before, .pane-search-backends .expand-more:before, .pane-ding-facetbrowser .expand-more:before, .pane-ting-object .expand-more:before, .opening-hours-toggle.js-collapsed:before {
   content: "";
}
.pane-search-backends a:link, .pane-ding-facetbrowser a:link {
    text-decoration: none;
}
.pane-search-backends .expand-more, .pane-ding-facetbrowser .expand-more {
    display: block;
    float: left;
}
.pane-search-backends .expand, .pane-ding-facetbrowser .expand, .pane-search-backends .selected-checkbox-group .unselect, .pane-ding-facetbrowser .selected-checkbox-group .unselect, .pane-search-backends .expand-facets, .pane-ding-facetbrowser .expand-facets {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
}


.pane-search-backends .expand:before, .pane-ding-facetbrowser .expand:before, .pane-search-backends .selected-checkbox-group .unselect:before, .pane-ding-facetbrowser .selected-checkbox-group .unselect:before, .pane-search-backends .expand-facets:before, .pane-ding-facetbrowser .expand-facets:before {
    float: left;
    font-family: "FontAwesome";
    font-size: 130%;
    margin-right: 3px;
    margin-top: -1px;
    padding-right: 5px;
    text-decoration: none;
}
.icon-minus-sign:before, .pane-search-backends .expand-less:before, .pane-ding-facetbrowser .expand-less:before, .pane-ting-object .expand-less:before, .opening-hours-toggle.js-expanded:before {
    content: ""; 
}
.pane-search-backends a:link, .pane-ding-facetbrowser a:link {
    text-decoration: none;
}
.pane-search-backends .expand-less, .pane-ding-facetbrowser .expand-less {
    display: block;
    float: left;
}
.pane-search-backends .expand, .pane-ding-facetbrowser .expand, .pane-search-backends .selected-checkbox-group .unselect, .pane-ding-facetbrowser .selected-checkbox-group .unselect, .pane-search-backends .expand-facets, .pane-ding-facetbrowser .expand-facets {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
}
  
  
/* ==========================================================================
  Filter styling
  ========================================================================== */

//records per page  
.pane-ting-search-records-per-page {
  float: left;
   }  
   
#ting-search-records-per-page {
    font-weight: bold;
    margin-top: 4px;
    a {
      margin-left: $default-spacing / 2;
    }
  }   
  
//sort
 .pane-ting-search-sort-form {
    float: right;
  }  
  
#ting-search-sort-form {
    margin-bottom: 0px;
      label {
        display: inline;
        font-weight: bold;
      }
      select {
        width: 9em;
        margin-bottom: 0px;
        height: 2em;
      }
      input{
        visibility: hidden;
        }
  }
  
.form-item .description {
    display: none;      
  }      

//query string
#search-query-display {
    font-size: 1em;
    border-top: 0px;
    padding: 0px;
  }
    
/* ==========================================================================
  Search results
  ========================================================================== */        
 #search-counter{
    display: none;
  }
.view-ding-node-search .view-header {
    display: none;
}
.nav > li > a{
  display: inline-table;
  }
div.pane-search-result {
    margin-top: $default-spacing;
  }  
  
.pane-search-result h2 {
    font-size: $theme-font-size * 1.5;
    color: $gray-light2;
  }

div.availability {
    margin-top: $default-spacing / 2;
  }    
  
//collections & objects  
 
.ting-collection-types-header, .ting-object-types-header, .ting-relations-header {
  @include single-box-shadow;
  @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
  background: $theme-tertiary-color;
  margin-top: $default-spacing / 2;
  margin-bottom: $default-spacing / 2;
  padding-left: $default-spacing;
  font-size: $theme-font-size * 1.5;
  font-weight: normal;
  width: 141px;
  color: $gray-dark;
}  
.ting-relation .meta {
    border-bottom: none;
    border-top: 1px solid #cccccc;
} 
.pane-ting-ting-collection-types, .pane-ting-ting-object-types, .pane-ting-ting-relation-anchors { 
  margin-bottom: $default-spacing; 
  li {
    margin: 5px 0px;  
  }
}

.view-mode-full > div > div > div > h2 {
    border-bottom: 1px solid #E7ECEB;
    color: #333;
    margin: 10px 0;
    font-size: $theme-font-size * 1.5;
}

.ting-relation, .field-name-ding-availability-holdings, .group-material-details {      
   h2{
       font-size: $theme-font-size * 1.5;
       }
}

//periodicals

.field-name-ding-periodical-issues {
  margin-top: $default-spacing;
}

li.ding-periodical-foldable {
  padding-top: $default-spacing;  
}
.sidebar-menu li:hover {
  color: $black;
}
.ding-periodical-fold {
  cursor: pointer;
}
.ding-periodical-fold:hover {
  text-decoration: underline;
}




//availability & availability icons

.availability.processed {
  background-color: $link-color;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}
.availability.available.reservable {
  background-color: #40854B;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: #FFF;
  a {color: #FFF; }  
}
.availability.reservable {
  background-color: #CC0000;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}
.availability.available {
  background-color: #40854B;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}

.availability-legend {
    border-top: none;
    border-bottom: 1px solid $gray-light;
}

.availability-legend-item.available img {
  background-color: #40854B;
}

.availability-legend-item.unavailable img {
  background-color: $link-color;
}

.availability-legend-item.on-loan img {
  background-color: #CC0000;
}
div.unreservable {
  display: none;
}

.availability-legend-item .availability-label {
  font-size: 1em;
  font-weight: normal;
}

//

.view-mode-collection-list .field-group-format {
    clear: none;
}

.group-material-details {
   .field-label {
      width: 132px;
      padding-right: $default-spacing;}
}

.view-mode-collection-list .collapsed span.field-group-format-toggler a, .pane-ting-object .collapsible.collapsed .field-group-format-title {
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 30px;
  }
.view-mode-collection-list span.field-group-format-toggler a, .pane-ting-object .collapsible .field-group-format-title {
  background: url(../images/minus-icon.png) no-repeat;
  padding-left: 30px;
  }
.pane-ting-search-records-per-page a, .pane-ding-toggle-format-toggle a{
  border-right: 1px solid #112338;
  margin-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.pane-ting-search-records-per-page a:last-child, .pane-ding-toggle-format-toggle a:last-child {
    border-right: medium none;
}


div[class*='ting-cover-'] {
      float: left;
      padding-right: $default-spacing;
  }
.pane-search-result .search-results .list .list-item {
    background-color: #F3F3F3;
    padding: $default-spacing;
    display: block;
}
.view-mode-collection-list .search-ting-cover{   
    
    &:after{
    right: $default-spacing;
  }
  }
.view-mode-collection-list .ting-cover{
  margin-right: 0;
  }

.pane-ting-object {
  margin-top: $default-spacing;
}
.view-mode-user-list {
  .ting-cover {
   width: 8%;
}
}