// This file holds all the variables for the theme.
//
// Compass version 0.12.2 (Alnilam)

@import "compass/css3";

// Basic settings
// Grid, spacing etc.
$grid-max-width:    960px;
$grid-column-count: 12;

// Standard color definitions.
$black:                 #000 !default;
$gray-darker:           #222 !default;
$gray-dark:             #333 !default;
$gray:                  #555 !default;
$gray-light:            #999 !default;
$gray-light2:           #ccc;
$gray-lighter:          #eee !default;
$white:                 #fff !default;
// Theme variables.
$theme-background-color:  $gray-lighter;
$theme-background:        url('../images/Baggrund_1920x1231_sh_20.jpg') $theme-background-color ;


// Font variables.
// -------------------------
$base-font-size:          16px !default; /* equivalent to font-size: 100% */
$theme-font-size:         13px !default;
$theme-line-height:       18px;
$theme-font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

// Baseline for rem() mixin, measured in pixels
// The value should be the same as the base-font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: $base-font-size;

// Links
// -------------------------
$link-color:                  #0077a2;
$link-color-hover:            darken($link-color, 20%) !default;

// Master colors
$theme-primary-color:         $black;
$theme-secondary-color:       #69c8cf !default;
$theme-tertiary-color:        #69c8cf !default;
$menu-active:                 $gray-light;
$label-info-text-color:       #fff;
$date-list-text-color:        $white;
$recommendation-list:         #F6F6F2;
$logged-in-menu-color:        #F3F3F3;

// Buttons
// -------------------------

$btnBorder:                   $gray-light2 !default;

$btnInfoBackground:           #5bc0de !default;
$btn-info-text-color:         $white;
$btnBackground:               $white !default;
$btnBackgroundHighlight:      darken($gray-lighter, 10%) !default;
$btnInfoBackgroundHighlight:  darken($btnInfoBackground, 10%) !default;

// Spacing
// -------------------------
$default-spacing: 15px;

// Forms
$form-border-radius: 5px !default;

// Navigation
//--------------------------
$navbar-background-color:   $theme-secondary-color !default;
$navbar-font-size:          15px !default;
$navbar-text-color:         $white !default;
$navbar-item-spacing:       $default-spacing / 2 $default-spacing !default;

// Lists
$list-item-spacing:         10px !default;
$list-picture-width:        25% !default;

// Text selection colors
$theme-selection-color:       $gray-lighter;
$theme-selection-background:  $gray;

// Search field
$search-font-size:          20px !default;
$search-field-height:       50px !default;

// Footers
$theme-footer-background:    $gray-lighter;
$theme-footer-color:         $gray-dark;