// This files contains styling of specific for ting objects and the search
// results page.

// Place () around .availability-status
.availability-status:before {
  content: " (";
}
.availability-status:after {
  content: ")";
}

// Place () around .navcount
.navcount:before {
  content: " (";
}
.navcount:after {
  content: ")";
}
.view-header.navcount {
    float: right;
    margin-left: 7.5px;
}
.availability {
  float: right; 
  ul {
    float: right;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 $default-spacing 0 0;
      border: none;
      margin: 0;
      margin-top: $default-spacing /2;
      float: right;
    }
  }
}

//Collaction style
.view-mode-collection-list .ting-cover-style-ding_medium {
  height: 131px;
  width: 85px;
}

.field-name-ting-details-version .field-label{
  float: left;
}

.field-name-ding-entity-buttons{
  float: right;
  form{
    float: left;
  }
}

.view-mode-collection-list {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.view-mode-full > div > div > div > h2 {
  border-bottom: 1px solid #E7ECEB;
  color: #790F21;
  margin: 10px 0;
}
.view-mode-collection-list .field-name-ting-abstract{
  margin-left: 100px;
}
.view-mode-collection-list .field-name-ting-subjects{
  margin-left: 100px;
}

.field-name-field-ding-news-materials .field-name-ting-series{
  height: 20px;
  }
.ting-object.view-mode-teaser{
  margin-top: $default-spacing;
  margin-bottom: $default-spacing;
  }

.field-name-ting-details-classification{
  display: inline-block;
}
#ting-search-records-per-page > a:after{
    content: " ";
}  

.field-group-format {
  clear: both;  
  }

.pane-ting-ting-collection-types h2, .pane-ting-ting-object-types h2, .pane-ting-ting-relation-anchors h2 {
    font-size: 1.2em;
    font-weight: bold;
}  
  
/* ==========================================================================
  Advanced Search
  ========================================================================== */


/* ==========================================================================
  Facets styling
  ========================================================================== */

.pane-ding-facetbrowser {
    legend {
      @include single-box-shadow;
      @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
      background: $theme-tertiary-color; 
      padding-left: $default-spacing;
      margin-bottom: $default-spacing / 2;
      border-bottom: 0px;
    } 
    fieldset {
      margin-bottom: $default-spacing;
    }    
  }
  
span#expand_more {
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 20px;
  cursor: row-resize;
  }  
  
span#expand_less {
  background: url(../images/minus-icon.png) no-repeat;
  margin-left: $default-spacing;
  padding-left: 20px;
  cursor: row-resize;
}
  
  
/* ==========================================================================
  Filter styling
  ========================================================================== */

//records per page  
.pane-ting-search-records-per-page {
  float: left;
   }  
   
#ting-search-records-per-page {
    font-weight: bold;
    margin-top: 4px;
    a {
      margin-left: $default-spacing / 2;
    }
  }   
  
//sort
 .pane-ting-search-sort-form {
    float: right;
  }  
  
#ting-search-sort-form {
    margin-bottom: 0px;
      label {
        display: inline;
        font-weight: bold;
      }
      select {
        width: 9em;
        margin-bottom: 0px;
        height: 2em;
      }
      input{
        visibility: hidden;
        }
  }
  
.form-item .description {
    display: none;      
  }      

//query string
#search-query-display {
    font-size: 1em;
    border-top: 0px;
    padding: 0px;
  }
    
/* ==========================================================================
  Search results
  ========================================================================== */        
 #search-counter{
    display: none;
  }
.view-ding-node-search .view-header {
    display: none;
}
div.pane-search-result {
    margin-top: $default-spacing;
  }  
  
.pane-search-result h2 {
    font-size: $theme-font-size * 1.5;
    color: $gray-light2;
  }

div.availability {
    margin-top: $default-spacing / 2;
  }    
  
//collections & objects  
 
.ting-collection-types-header, .ting-object-types-header, .ting-relations-header {
  @include single-box-shadow;
  @include box-shadow(rgba(black, .2) 0 4px 15px -2px);
  background: $theme-tertiary-color;
  margin-top: $default-spacing / 2;
  margin-bottom: $default-spacing / 2;
  padding-left: $default-spacing;
  font-size: $theme-font-size * 1.5;
  font-weight: normal;
  width: 141px;
  color: $gray-dark;
}  
 
.pane-ting-ting-collection-types, .pane-ting-ting-object-types, .pane-ting-ting-relation-anchors { 
  margin-bottom: $default-spacing; 
  li {
    margin: 5px 0px;  
  }
}

.view-mode-full > div > div > div > h2 {
    border-bottom: 1px solid #E7ECEB;
    color: #333;
    margin: 10px 0;
    font-size: $theme-font-size * 1.5;
}

.ting-relation, .field-name-ding-availability-holdings, .group-material-details {      
   h2{
       font-size: $theme-font-size * 1.5;
       }
}

//periodicals

.field-name-ding-periodical-issues {
  margin-top: $default-spacing;
}

li.ding-periodical-foldable {
  padding-top: $default-spacing;  
}

.ding-periodical-fold {
  cursor: pointer;
}
.ding-periodical-fold:hover {
  text-decoration: underline;
}




//availability & availability icons

.availability.processed {
  background-color: $link-color;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}
.availability.available.reservable {
  background-color: #40854B;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: #FFF;
  a {color: #FFF; }  
}
.availability.reservable {
  background-color: #CC0000;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}
.availability.available {
  background-color: #40854B;
  padding: $default-spacing / 4;
  margin-right: $default-spacing / 2;
  color: $white;
  a {color: $white; }
}

.availability-legend {
    border-top: none;
    border-bottom: 1px solid $gray-light;
}

.availability-legend-item.available img {
  background-color: #40854B;
}

.availability-legend-item.unavailable img {
  background-color: $link-color;
}

.availability-legend-item.on-loan img {
  background-color: #CC0000;
}
div.unreservable {
  display: none;
}

.availability-legend-item .availability-label {
  font-size: 1em;
  font-weight: normal;
}

//

.view-mode-collection-list .field-group-format {
    clear: none;
}

.group-material-details {
   .field-label {
      width: 132px;
      padding-right: $default-spacing;}
}

.view-mode-collection-list .collapsed span.field-group-format-toggler a{
  background: url(../images/plus-icon.png) no-repeat;
  padding-left: 30px;
  }
.view-mode-collection-list span.field-group-format-toggler a{
  background: url(../images/minus-icon.png) no-repeat;
  padding-left: 30px;
  }
.pane-ting-search-records-per-page a, .pane-ding-toggle-format-toggle a{
  border-right: 1px solid #112338;
  margin-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.pane-ting-search-records-per-page a:last-child, .pane-ding-toggle-format-toggle a:last-child {
    border-right: medium none;
}

.search-ting-cover {
  @extend .pull-left;
  position: relative;
  width: 10%;
  min-height: 100px;
  z-index: 1;

  // Insert a background with image missing icon
  &:after {
    content: "";
    background: url("../images/image-missing.png");
    @include opacity(0.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100px;
  }
}
.ting-cover {
        @extend .search-ting-cover;
        margin-right: $default-spacing;
      }
div[class*='ting-cover-'] {
      float: left;
      padding-right: $default-spacing;
  }
.pane-search-result .search-results .list .list-item {
    background-color: #F3F3F3;
    padding: $default-spacing;
    display: block;
}
.view-mode-collection-list .search-ting-cover{   
    
    &:after{
    right: $default-spacing;
  }
  }
.view-mode-collection-list .ting-cover{
  margin-right: 0;
  }

.pane-ting-object {
  .ting-cover {
   width: 23%;
    min-height: 250px;
}
}
.view-mode-user-list {
  .ting-cover {
   width: 8%;
}
}