.btn {
  @include buttonBackground($btnBackground, $btnBackgroundHighlight);

}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
  color: $btn-info-text-color;
}

.btn.btn-primary.btn-large {
  background: none repeat scroll 0 0 green;
  color: white;
}